[2021-06-29 19:24] justinlittman commented on #1663
This should be do-able. We currently add a link to the URI after it has been selected (the globe), so no reason we can't provide a link before it has been selected.

If concern about URI not being dereferencable, we can add an additional configuration field to authorityConfig.json to indicate whether the URI should be linked.

[2021-06-29 19:52] justinlittman commented on #1982
This doesn't seem to be a problem:
![image](https://user-images.githubusercontent.com/588335/123858822-f5f31a80-d8f1-11eb-8958-280e73d66cc8.png)

[2021-06-29 19:56] michelleif commented on #2838
great, closing this.

[2021-06-29 19:56] #2838 closed

[2021-06-29 20:44] justinlittman commented on #2106
I'd propose that instead of asking the user, the language selection modal has a checkbox for "Make this the default" that the user can select.

[2021-06-30 13:06] justinlittman commented on #2357
The colors are currently different for templates vs resources, so closing as done.

[2021-06-30 13:06] #2357 closed

[2021-06-30 13:24] justinlittman commented on #2517
I can no longer replicate.

[2021-06-30 13:24] #2517 closed

[2021-06-30 13:33] justinlittman commented on #1312
Closing since support for lists is implemented. If additional support for LCSH is required, it can be ticketed separately.

[2021-06-30 13:33] #1312 closed

[2021-06-30 13:52] justinlittman commented on #2790
@CECSpecialistI With the recent changes, can this be closed?

[2021-06-30 13:59] #2732 closed

[2021-06-30 13:59] #2730 closed

[2021-06-30 13:59] #2734 closed

[2021-06-30 13:59] #2733 closed

[2021-06-30 15:26] michelleif commented on #2357
wow i didn't even notice that, will add to documentation!

[2021-06-30 16:31] justinlittman commented on #2457
Actually, the current error message is even worse.
![image](https://user-images.githubusercontent.com/588335/123998035-090ff400-d99f-11eb-9600-5653d2e2bbf3.png)

[2021-06-30 16:40] #2378 closed

[2021-06-30 16:40] michelleif commented on #2378
we have "New resource template" button now.
also, when editing a template, the UX is a different color than when editing a "regular" resource, so that helps

[2021-06-30 16:42] michelleif commented on #2187
@jermnelson when you export via API, do we export any other statements referred to by resource in question?

[2021-06-30 16:52] michelleif commented on #1249
closing as this no longer seems to be relevant

[2021-06-30 16:52] #1249 closed

[2021-06-30 16:53] justinlittman commented on #2781
The problem is our approach to entering values (URI or literals) that requires the user to hit enter or the input to lose focus.

I'd suggest a more standard approach in which entering text into an input is sufficient for it to be added. If the user needs to add multiple values, a new input is created. If the user needs to remove a value, the input is deleted.

This gets rid of the blue entry boxe

[2021-06-30 16:59] justinlittman commented on #2605
Can you include a screenshot @astridu ?

[2021-06-30 17:24] NancyL commented on #1249
Hmm, the fields/resources that are required are still open by default and cannot be closed. I'm not really sure just having the left navigation completely solves what was what was being asked for.

[2021-06-30 17:52] NancyL commented on #2457
maybe "Template ID already in use"?

[2021-06-30 17:57] justinlittman commented on #2781
![image](https://user-images.githubusercontent.com/588335/124008991-0f0bd200-d9ab-11eb-8248-9f3393716039.png)

[2021-06-30 18:22] jermnelson commented on #2187
No, when accessing a resource via the API, other resources that may be referenced in the RDF are not exported.

[2021-06-30 20:38] justinlittman commented on #556
Closing. Can re-open if proves to be a problem.

[2021-06-30 20:38] #556 closed

[2021-06-30 20:39] justinlittman commented on #2587
Closing in favor of QA ticket.

[2021-06-30 20:39] #2587 closed

[2021-06-30 20:40] #2641 closed

[2021-06-30 20:57] michelleif commented on #1640
this works now.

[2021-06-30 20:57] #1640 closed

[2021-06-30 21:01] justinlittman opened #2843 "Allow user to enter label for URI"
For URI and lookup components.

[2021-06-30 21:01] justinlittman commented on #2126
Given https://github.com/LD4P/sinopia_editor/issues/2843, this is acceptable behavior.

[2021-06-30 21:01] #2126 closed

[2021-07-01 11:19] justinlittman commented on #2770
The approved fix for this is to remove the active template from the URL (that is, deprecate the functionality). The Dashboard makes it no longer necessary.

[2021-07-01 12:29] justinlittman opened #2844 "Resource template versioning"
Full requirements TBD.

Possible approaches:
1. Append the version to the template id, e.g., `pcc:bf2:Serial:Instance:5`.
2. Add a version property to the resource template.

[2021-07-01 12:30] justinlittman commented on #2844
From @NancyL:

[2021-07-01 12:31] justinlittman commented on #2128
closing in favor of #2844

[2021-07-01 12:31] #2128 closed

[2021-07-01 13:08] justinlittman commented on #2726
Closing in favor of https://github.com/LD4P/sinopia_editor/issues/2844

[2021-07-01 13:08] #2726 closed

[2021-07-01 18:15] michelleif commented on #2125
@elrayle can we close this?

[2021-07-01 18:16] justinlittman commented on #2167
Our strategy is to only use QA lookup sources to avoid complexity.

[2021-07-01 18:16] #2167 closed

[2021-07-01 18:16] michelleif commented on #1982
@sfolsom is this still an issue?

[2021-07-01 18:21] michelleif commented on #1227
the use cases here will be solved by #2843, although the user will have to paste their own label in. closing this ticket.

[2021-07-01 18:21] #1227 closed

[2021-07-01 18:23] justinlittman commented on #1566
Has not proven necessary for testing and debugging, so closing. If proves necessary, can re-open.

[2021-07-01 18:23] #1566 closed

[2021-07-01 18:31] justinlittman commented on #2171
Closing given above discussion. Can create new ticket if requirements become clearer with cataloger experience.

[2021-07-01 18:31] #2171 closed

[2021-07-01 18:35] michelleif commented on #1258
current functionality is that you have to type at least 3 letters before the dropdown of results appears. because of this, there are fewer irrelevant results than before, so I am closing this ticket.

[2021-07-01 18:35] #1258 closed

[2021-07-01 18:39] michelleif commented on #2197
don't need "unselect all" because we have "only"

if user wants to "select all", they can redo the search at which point everything will be selected again.

so since there is workaround, closing this.

Michelle will add to Search documentation about how to use the "only" button and how to re-select all

[2021-07-01 18:39] #2197 closed

[2021-07-01 18:40] justinlittman commented on #2443
Dropdown filters were implemented instead of left nav for search.

[2021-07-01 18:40] #2443 closed

[2021-07-01 18:46] michelleif commented on #2169
closing because not sure specifically what is not working. if we have specific examples of Sinopia search results where order by relevance doesn't make sense, please open new ticket

[2021-07-01 18:46] #2169 closed

[2021-07-01 18:48] justinlittman commented on #2157
Closing in favor of #1544

[2021-07-01 18:48] #2157 closed

[2021-07-01 18:54] justinlittman commented on #2367
Closing in favor of #2813

[2021-07-01 18:54] #2367 closed

[2021-07-01 18:57] justinlittman commented on #2051
Requirement from #2598: User is able to navigate to related resources (i.e., open them in a new editor tab).

[2021-07-01 18:57] justinlittman commented on #2598
closing in favor of #2051.

[2021-07-01 18:57] #2598 closed

[2021-07-01 19:14] michelleif commented on #2051
FOLIO has a nice three-pane layout which might offer inspiration for a way to work with multiple resources at once.

[2021-07-02 16:40] michelleif opened #2845 "unexpected behavior of trash can on literal or lookup fields; fix or remove trash can"
Our model is that all fields are shown "open" except for fields of type nested resource.

Unexpected behavior is this: when you use the trash can to delete info you entered in a lookup field or a literal field, the field ends up closed with a +Add. Instead the field should just be blank.

Example template on stage: pcc:bf2:Monograph:Work

The "Date of Work" field is a literal. It is shown open whe

[2021-07-02 16:40] michelleif commented on #2541
Closing in favor of ticket specifically about trash can issues https://github.com/LD4P/sinopia_editor/issues/2845

[2021-07-02 16:51] michelleif commented on #2166
closing this ticket as the issues are either fixed or don't have enough info to troubleshoot
@jimfhahn if the geographic searching is still a problem, could you please open a new ticket in QA per https://github.com/LD4P/qa_server/issues/new?template=indexing_bug.md

[2021-07-02 16:51] #2166 closed

[2021-07-02 18:21] justinlittman commented on #2170
Closing since dupe.

[2021-07-02 18:21] #2170 closed

[2021-07-02 18:26] michelleif commented on #2159
if we implement versioning (under consideration for Work Cycle 4), this will no longer happen, because Sinopia will open the resource using the version of the template it was saved with.

[2021-07-02 18:26] #2159 closed

[2021-07-02 18:32] michelleif commented on #2155
closing this ticket. we will be working on how to use external data to seed a new record, and this seems like an extension of that use case (add external data to existing template/resource vs a new one). once we know how to use external data to seed new record, let's see if there is still a use case for adding external data to existing record.

[2021-07-02 18:32] #2155 closed

[2021-07-02 18:39] michelleif opened #2846 "make a global change to metadata in a batch of instances"

[2021-07-02 18:40] michelleif commented on #2846
need specific examples of when this would be useful

[2021-07-02 18:44] michelleif commented on #2762
closing. it's a good idea, but is not part of current design and is not high priority for forseeable future.

[2021-07-02 18:44] #2762 closed

[2021-07-02 18:55] michelleif commented on #1639
we don't allow user deletion of RTs so this is no longer relevant.

[2021-07-02 18:58] justinlittman commented on #2765
Given the current SVDE data that we have at our disposal, the level of effort would be significant (~1 month). Might be worth revisiting after SVDE produces some new data (since it might align more closely with Sinopia templates), but closing for now.

[2021-07-02 18:58] #2765 closed

[2021-07-02 19:00] justinlittman commented on #2790
Doing ticket cleanup, so going to close. @CECSpecialistI if you disagree, we can re-open or write a new ticket.

[2021-07-02 19:00] #2790 closed

[2021-07-02 19:08] justinlittman commented on #2803
Not going to take action on this now. Can re-open if necessary in future.

[2021-07-02 19:08] #2803 closed

[2021-07-02 19:14] justinlittman commented on #2729
Additional information about authorities is provided in existing help text, so closing.

[2021-07-02 19:14] #2729 closed

[2021-07-02 19:18] michelleif commented on #2359
whatever we would change in navigation/display in template creation would also apply to filling in the template (cataloging), so this is not a simple fix just for template creation. no complains about current template creation UX, so closing.

[2021-07-02 19:18] #2359 closed

[2021-07-02 19:22] michelleif commented on #2731
closing as it was just "nice to have"

[2021-07-02 19:22] #2731 closed

[2021-07-02 19:24] justinlittman commented on #2082
Close given new left nav / single column layout.

[2021-07-02 19:24] #2082 closed

[2021-07-03 01:20] astridu commented on #2605
If I can remember, I think what I meant was that the tabs at the top of the editor page which represent the different records you have open should have the rounded corners like all the other tabs/buttons we have in Sinopia.
![image](https://user-images.githubusercontent.com/42216982/124339260-23de9600-db62-11eb-9332-c80960ff7949.png)

[2021-07-06 20:48] astridu opened #2848 "Visual design: Change section header font color to black"
Change section header font color to black. It is currently white and color contrast against the beige section header is not accessible.
![image](https://user-images.githubusercontent.com/42216982/124664816-d2cfea00-de60-11eb-9489-98fa147f1c2f.png)

[2021-07-07 02:42] astridu opened #2849 "Visual design: Make yellow section collapsible"
This section that lists the unused triples takes a lot of real estate at the top of the page. Can you make the section collapsible?

![image](https://user-images.githubusercontent.com/42216982/124692345-4dfdc400-de92-11eb-834b-c03c43de905b.png)

[2021-07-07 02:46] astridu opened #2850 "Visual design: Reduce size of section header"
Current:
![image](https://user-images.githubusercontent.com/42216982/124692477-84d3da00-de92-11eb-8305-4496c3cbe193.png)

Suggested (about half the height):
![image](https://user-images.githubusercontent.com/42216982/124692645-c9f80c00-de92-11eb-9958-5cf766f1b4c9.png)

[2021-07-07 02:51] astridu opened #2851 "Visual design: Change all links to same style as H2"
In H2, we have determined link styles will be blue with underline appearing on hover. This is accessible, and it would be nice if all our assets had the same link styles.

[2021-07-07 17:31] astridu opened #2852 "Visual design: tab colors"
For these tabs, I was hoping to match the color to the type of record user is editing (light beige for work/instance and orange for template). If that's not possible, can we use a dark brown color (766253)to show which tab is selected?

![image](https://user-images.githubusercontent.com/42216982/124803832-72978180-df0e-11eb-9686-fc3a772a5e93.png)

[2021-07-07 19:53] NancyL opened #2853 "Links to enter data vs editing the template are not clear"
**Describe the bug**
Today I had to "repair" a pcc template because someone was trying to enter data using the template-creation mode rather than the data entry mode. This is not so strange, in that the template-creation button just says "edit", which to a newcomer could easily mean "enter your data" (many cataloging templates have this, including our own ILS Symphony--cataloging is done in the "m

[2021-07-07 19:57] michelleif commented on #2853
Good ideas. Also in next work cycle we will implement permissions, which will mean fewer people will be allowed to edit a template (details to be worked out), and that will help somewhat with accidental template tampering.

[2021-07-13 16:36] michelleif opened #2856 "create new group called "other""
need a group for people experimenting with Sinopia who aren't associated with any of the institutions we already have groups for

[2021-07-13 19:52] #2856 closed

[2021-07-17 21:00] michelleif commented on #2414
this is not completed.
(1) we say above that "Under our existing conventions, template ids (e.g., ld4p:RT:bf2:Title:AbbrTitle) are URIs, so I'd think it is correct to leave this [Template ID field] as a URI." But the "Template Id" field is now a literal. which means someone (like me) can create a template with a non-URI ID, like "random", and then will have unexpected results, like Sinopia not wan

[2021-07-17 21:07] michelleif opened #2858 "since trying to edit a Template ID gives unexpected results, can we either prevent editing it, or warn user?"
as documented in #2654, if you take an existing template, open it to make changes, and you try to change the "Template Id" field, you can successfully change the field and save the template, and the new ID shows up in the list of Resource Templates, but when you then try to open that template for cataloging, you get:
```Error retrieving [new Template Id]: Error parsing resource: Sinopia API return

[2021-07-17 21:52] michelleif opened #2859 "add missing properties to Sinopia vocabulary documentation/specification"
at sinopia.io/vocabulary, the following properties are missing. add them, along with one-line description:

1. `https://sinopia.io/vocabulary/hasResourceAttributes` (NOTE: `https://sinopia.io/vocabulary/hasResourceAttribute` is present, but is a different property)
2. `http://sinopia.io/vocabulary/hasResourceId`
3. `http://sinopia.io/vocabulary/hasLookupAttributes`
4. `http://sinopia.io/vocabulary

[2021-07-17 21:57] michelleif opened #2860 "rewrite old error message when template is missing specification of nested resource template"
if a template has a field of type `nested resource` but no nested resource is specified, then when you try to open the template for cataloging, you get this error message:
`Referenced resource templates (valueTemplateRefs) are required for http://www.property.com.`

The error message is confusing because we no longer have valueTemplateRefs

Change message to:
`The field [Label] with property [Prop

[2021-07-17 22:04] michelleif opened #2861 "rewrite error message displayed when opening a template with attribute "suppressible" that contains more than one property template"
I made a template with 2 fields, and gave it the attribute "suppressible" (the template is on stage and has id `random4:suppressible`)

I tried to open it for cataloging and got this message
`A suppressible template must have one property template.`

which after testing I see means that it cannot have **more than one** property template.

This error message is confusing because my template **does*

[2021-07-17 23:12] michelleif opened #2862 "in template creation, show only the property attributes appropriate for the field type selected"
when creating a template, user can choose from three property types for a field: literal; uri or lookup; nested resource

user then specifies attributes, but not all attributes apply to all types of properties

it would make template creation and editing easier, and would prevent errors, if only the appropriate attributes were shown, based on the user's selection in "Property type", and the requir

[2021-07-18 17:00] michelleif opened #2863 "Newly created templates with incorrect Date format are not showing in Resource Templates list"
when creating a template, the Date field is optional, and expects a literal like yyyy-mm-dd

but if you mistakenly enter the date in a different format like mm-dd-yyyy, then the template saves successfully, but does not show up in the Resource Templates list, even though the template URI works

examples on stage:
https://api.stage.sinopia.io/resource/demo:art:object (date was entered as 07-18-2021

[2021-07-19 18:47] abartov opened #2865 "Add support for interface localization"
It would be great to be able to interact with Sinopia in other languages.  I imagine most early-adopters are able to work with it in English, but many other potential users would be de-facto barred from using this useful environment without local-language support in the interface.

A minimal level of L10N would be making all the interface strings translatable by one of the existing frameworks.

De

[2021-07-20 18:46] michelleif commented on #2785
this week's LD4 Conference Sinopia tutorial sparked a discussion about why we specify the class in the template configuration? could we add a feature where the template creator could either specify the class in the template, or instead, allow the user to pick from a list of classes? (or even enter their own?) and if user can choose, template creator could do a default.

this is slightly different

[2021-07-20 18:57] michelleif commented on #2845
re "Why do we have the trash can on simple (unnested) fields?"
currently if you have a literal field with a default, and you delete the default value with the "x" button, you have no way to get the default value back (like if you deleted it accidentally).
if instead you delete the default value with the trash can, then +Add appears to get the default back

if we were to remove the trash can on sim

[2021-07-20 19:15] michelleif commented on #2430
can we close this

[2021-07-20 19:23] #2430 closed

[2021-07-20 20:02] jermnelson opened #2866 "Investigate use of Circle-CI Orbs"
**Describe the feature you'd like**
Investigate using  Circle-CI [Orbs](https://circleci.com/developer/orbs) for simplifying Circle-CI configuration and builds.

**Give an example**
See use of node [orb](https://circleci.com/developer/orbs/orb/circleci/node)

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2021-07-21 13:58] michelleif opened #2868 "if Property Template contains a Remark, and the Remark text includes a URL, make the URL clickable in the tooltip popup"
Fields can have help text either as a literal (Remark), which displays as an "i" button to click to see the text, or a single link (Remark URL), which displays as an arrow to click to launch the link.

Sometimes the help text will be a literal but will contain a URI within it, as in the template demo2.art.object on stage, where field "Rights statement" has this Remark:
`Choose a statement URI from

[2021-07-21 15:52] michelleif opened #2869 "show a label in search results for resources without a BF or RDA title property"
Sinopia is optimized for BF (and RDA) so when doing a search, we will display a resource's "title" label in the first column of search results as long as the resource has one of the BF or RDA properties explained in https://github.com/LD4P/sinopia/wiki/Searching-in-Sinopia

There are more users interested in Sinopia for describing resources using properties from ontologies other than BF and RDA. W

[2021-07-21 15:54] michelleif opened #2870 "relabel "Filter by institution" to "Filter by group" on Search tab"
"Filter by institution" is actually using the list of groups, and not all groups are institutions (example: PCC, Other).

Change to "Filter by group" so it makes more sense.

[2021-07-26 14:13] justinlittman commented on #2869
RDF does not have a notion of "first".

Any "magic" is just going to precipitate user confusion / questions. Can the title be specified for other ontologies? Perhaps this should be made a configuration (e.g., an LDPath)?

[2021-07-26 14:20] justinlittman commented on #2785
@michelleif Can you ticket this separately?

[2021-07-26 14:27] justinlittman commented on #2863
@michelleif This is a dupe of https://github.com/LD4P/sinopia_indexing_pipeline/issues/257. Perhaps move this to Sinopia indexing repo and closes 257?

[2021-07-26 14:29] justinlittman commented on #2861
Would your proposed error message make sense of the user had added zero property templates?

[2021-07-26 15:21] michelleif commented on #2861
user is not allowed to add zero property templates. isn't there already a different message that tells you a resource template must have at least one property template?

[2021-07-26 16:39] michelleif commented on #2869
Yes I like the idea of a configuration, even a user-editable one, like we have for the character map.

[2021-07-26 16:40] NancyL commented on #2861
I think Michelle is correct here. The biggest problem so far in adding the attribute is the temptation to do it at the wrong level of the blank node, whereas it can only refer to one resource & one property. There is already a message that says a resource template requires at least one property--you cannot save without it.

[2021-07-28 16:46] jimfhahn commented on #2813
Additional disambiguation support ideas were observed in recent LC BFE updates: for example the use of circle and diamond along with color theming here (though want to make sure distinguishing among Instance and Work is not solely based on color -- e.g. ones that work in greyscale, too)

<img width="821" alt="Screen Shot 2021-07-28 at 11 41 28 AM" src="https://user-images.githubusercontent.com/131

[2021-07-28 19:10] michelleif commented on #2804
@sfolsom which vocabularies would we use this for? how high of a priority are they? any chance they will be released by the owners as RDF in near future?

[2021-07-28 19:37] michelleif commented on #2125
discussion at QA-Sinopia Developers meeting on 7/28/21:
- top results from direct are more relevant than top results from cache (based on recent work on another project at Stanford using QA); for example try "tea"
- @justinlittman will provide more examples

- but direct search doesn't offer pagination or rank order (OCLC direct sends xml stream of RDF that is in order, but when converted to graph

[2021-07-28 19:39] michelleif commented on #2125
and add another ticket about improving the cache performance and sorting

[2021-07-28 19:42] michelleif commented on #1259
@eichmann will document on https://github.com/LD4P/sinopia/wiki/Searching-in-Sinopia

[2021-07-28 21:33] NancyL commented on #2870
+1

[2021-07-28 21:49] NancyL opened #2873 "Generate an rdfs:label from bf:mainTitle in bf:Title"
In the LC editor, SVDE & the LC MARC to BF specs (including the comparison viewer), bf:Title includes an rdfs:label in addition to the properties we are using, such as bf:mainTitle. In the "old" LC editor (and I presume the new one), this label is created behind the scenes by duplicating bf:mainTitle; it is not entered through the template and turns out looking like this:

![image](https://user-im

[2021-07-29 14:19] michelleif commented on #2873
where is the bf:Title label going to be used? is this more of an issue for a consuming application, in which case if the consuming application needs a bf:Title, the consuming application could have a rule to create it from bf:mainTitle, rather than Sinopia creating it

[2021-07-31 19:05] NancyL commented on #2873
I don't know how it used exactly (how is anything used yet?), but it mirrors how all our MARC records are converted, what the Library of Congress does (in its templates, in its conversion specs, in BF works/instances) and what SVDE does. Actually in the MARC to BF specs, it includes the $b in the MARC as well. In the BF to MARC specs, there is a hint that there may be times the more granular prope

[2021-08-02 04:19] michelleif commented on #2164
closing this as #2 is already covered by another ticket and #1 and #3 we are not pursuing

[2021-08-02 04:19] #2164 closed

[2021-08-02 19:46] michelleif commented on #2837
this could be handled with #2727, if we had one type that was "no language expected"? or @justinlittman @jermnelson would we need an additional field attribute for whether language tagging is shown on a literal?

[2021-08-02 19:50] michelleif commented on #2804
@NancyL are there any non-RDF vocabs you need to do lookups to in Sinopia that are high priority?

[2021-08-02 23:01] NancyL commented on #2727
Suggested datatypes to start:

1. http://id.loc.gov/datatypes/edtf (used by LC & includes the 19uu, 1920?, etc. mixes that catalogers use for dates in the 008)
2. xsd:dateTime for date of creation in admin metadata
3. xsd:dateTimeStamp for change date in admin metadata (This and no. 2 is how LC does it)
4. xsd:integer--some upcoming templates use count values

Not meaning these are all we might ne

[2021-08-03 04:13] michelleif commented on #2693
@takamarut do you have that minimum list of MARC fields?

[2021-08-03 04:21] michelleif commented on #2204
see also #2187

[2021-08-03 11:06] justinlittman commented on #2837
I think this would be configured separately in property template.

[2021-08-03 15:22] michelleif commented on #2770
one thing we will lose if we remove the active template from the URL is the ability to point other people to a template you are using, while you're working on it in the Editor tab, and say, here, look at this template, and you copy and paste the URL and message someone with it, and the person just opens the URL and they arrive at the template. This is very useful.
--one solution could be to displa

[2021-08-03 15:33] michelleif commented on #2727
is there a reason to use [xsd:dateTime](https://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#dateTime) for "date of creation" in admin metadata instead of using [xsd:dateTimeStamp](https://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#dateTimeStamp) ?

[2021-08-03 16:19] sfolsom commented on #1982
The way the lookup UI displays for heavily repeated properties looks fine now.

[2021-08-03 16:19] #1982 closed

[2021-08-03 19:25] michelleif commented on #2189
actually take them to the Dashboard. (in other words, take them to where you go when you click "Linked Data Editor" from the homepage, which is the Dashboard. not to be confused with taking them to the Editor tab you can click on after clicking "Linked Data Editor")

[2021-08-03 19:26] michelleif commented on #2309
keeping this ticket open until issues are prioritized for WC4, then will close

[2021-08-03 21:06] michelleif commented on #2178
also see the latest LC BF Editor design with a preview in the right-hand column, for inspiration: https://youtu.be/pSON9etF054?t=2928

[2021-08-03 21:22] michelleif commented on #2859
do this in conjunction with https://github.com/LD4P/sinopia/issues/311

[2021-08-03 21:26] michelleif commented on #2784
to replicate, use up and down arrows to change position of property templates

[2021-08-03 22:18] michelleif commented on #2853
see also #2672

[2021-08-03 22:21] michelleif commented on #2852
if we use light beige for work/instance (or any other "enter data in a template" operation) and orange for edit template itself, how are we going to indicate which is the active tab? see also #2813

[2021-08-03 22:30] michelleif commented on #2541
actually, i want to reopen this. and revisit why we aren't showing nested resources as expanded.
earlier discussions said if you expanded a nested template, you were adding statements to the resource and might not realize it.
but see for example: https://stage.sinopia.io/editor/pcc:bf2:Monograph:Work
if I click +Add Primary Contributor or +Add Contributor to expand those sections, no new statement

[2021-08-03 23:07] NancyL commented on #2541
It used to be that if you didn't use the trash can, it wouldn't save because there was "an empty field" or something like that. Obviously things have changed because it doesn't do that now.
It is nice to be able to delete if you use "add another" unintentionally or in the wrong property. On the other hand, the "add another" and that trash bin are much too close together!

[2021-08-04 11:12] justinlittman commented on #2541
You _may_ be adding statements to the resource, e.g., if there are defaults.

[2021-08-04 19:02] elrayle commented on #2125
| Direct subauths | Cache subauths | Name to use for both |
| --- | --- | --- |
|   | concept |   |
|   | event |   |
|   | person |   |
|   | organization |   |
|   | place |   |
|   | intangible |   |
|   | work |   |
| topic  |   |   |

[2021-08-04 19:12] elrayle commented on #2125
Entity classes corresponding to subauthorities in the cache...
* CreativeWork
* Organization
* GeoCoordinates
* Place
* Person
* facet-Topical
* facet-FormGenre
* Event
* Meeting
* Intangible
* Periodization

[2021-08-04 20:37] pmgreen opened #2878 "add a way to undo"
It would be nice to be able to go back a few steps, as when you accidentally delete a value.

[2021-08-04 20:37] NancyL opened #2880 "Validate ISBN"
How do you know an ISBN is invalid? There is no validation.

[2021-08-04 20:38] michelleif opened #2881 "Propose new terms to authoritative source / authority life cycle"
Expanding Linked Data ("Authority Work")
-- If an authorized "thing" doesn't exist (like a person) you need to be able to create it
send proposed term to whoever can approve it
along with supporting info (maybe there's a Template for this supporting info?)
---be able to use the proposed term right away without waiting for approval
---if term proposal is rejected, need to fix the provisional term y

[2021-08-04 20:58] graybeal commented on #2881
Stanford's BioPortal project has developed a few templates for such requests, and is about to start a project (we believe!) that in time will establish nice automated ways of doing this for semantic resources in GitHub. For the Ontolobridge project we developed an automated pipeline and activity diagrams for the management of such requests, including distributing them to authorities.

[2021-08-04 21:06] NancyL commented on #2876
Can one automate language for transliterated data such as in the first part of Jennifer's example above as well as the original script?

[2021-08-04 21:17] michelleif opened #2882 "Update RDF-to-MARC documentation to reflect recent changes"
when issues in this epic are complete, review https://github.com/LD4P/sinopia/wiki/RDF-to-MARC-Conversion and update if necessary

[2021-08-04 22:40] michelleif opened #2883 "test issue"

[2021-08-04 22:42] #2883 closed

[2021-08-04 22:42] michelleif opened #2884 "another test issue"

[2021-08-04 22:42] #2884 closed

[2021-08-04 22:55] michelleif commented on #2190
@astridu do you have a list of specific error messages that catalogers don't understand?

[2021-08-04 23:39] michelleif opened #2885 "Accessibility audit"
Perform accessibility audit and identify improvements needed. (There are some existing tickets labeled accessibility, "on ice" for WC 4, can be referenced as needed during the audit.)

[2021-08-05 00:30] michelleif commented on #2541
but we are already showing nested fields with default as expanded/open.

the only fields we are NOT expanding currently are nested templates with no defaults.

so if we expand those, is there a problem?

[2021-08-05 04:11] michelleif commented on #2106
@justinlittman in your proposal above, all literal fields would have this "Make this the default language for all fields in this resource" checkbox? And if the user checked this box on any literal field, the language of all other literal fields (even if no data was entered yet), would change to that language?

[2021-08-05 04:16] michelleif opened #2886 "ontology-aware template creation"
this is for future consideration:

make Sinopia "ontology-aware" when creating a template:
1) template creator selects ontologies they will be using
2) when filling in class field and property URI fields, Sinopia offers list of classes and properties from the ontologies named by the template creator
3) when template creator selects a property URI, Sinopia knows from the property URI what kind of p

[2021-08-05 04:52] michelleif opened #2887 "accept only URIs in fields of type "URI or lookup""
_background_
Currently, in lookup fields (that is, fields of type "uri or lookup" with one or more Authorities specified in Lookup attributes), Sinopia accepts either a URI or a literal. Although this flexibility is welcome when a user does not have an appropriate URI to enter (for example, user wants to enter a URI from an authoritative vocabulary of persons, but the person they want to specify i

[2021-08-05 04:56] michelleif opened #2888 "Datatypes and validation for literal fields"
Introduce datatypes to literal fields so that a template creator can specify a literal datatype and that datatype is enforced when data is entered.

[2021-08-05 04:58] michelleif commented on #1317
closing this as we are planning to disallow literals in lookup fields going forward

[2021-08-05 04:58] #1317 closed

[2021-08-05 05:00] michelleif commented on #2844
see https://docs.google.com/document/d/1AbmHI6sTN5upL6auWBVVAlS2lwPMuoVkjL49j0QAxTs/
for a proposal

[2021-08-05 05:08] michelleif commented on #2339
see #2843: allow users to enter a label with a URI, and
#2887: disallowing literals in lookup fields

@NancyL please advise once you have checked with your PCC group about whether we can close this ticket

[2021-08-05 05:46] michelleif opened #2889 "allow template creator to specify expected datatype for a literal field"
In template creation/specification, allow template creator to optionally specify an expected datatype for a literal field.

For initial implementation, offer these datatypes:
* from https://www.w3.org/TR/rdf11-concepts/#xsd-datatypes
  * xsd:integer
  * xsd:dateTime
  * xsd:dateTimeStamp
* Extended Date/Time Format (EDTF) (http://id.loc.gov/datatypes/edtf)

Implementation should be flexible enough

[2021-08-05 05:51] michelleif opened #2890 "validate data in literal fields against datatype or regex specified in template"
if a literal field has a datatype (see #2889) or a regex (see #2907) specified, validate that entered data conforms to the datatype or regex

if it doesn't, show error message "Not a valid [datatype]" or "Entered data must match [regex]" (or whatever wording makes most sense)

[2021-08-05 06:09] michelleif opened #2891 "add datatype declaration to literal statements, if datatype specified by template"
when user enters data in literal field that has a datatype (see #2889), add datatype IRI to resulting RDF statement, preceded by '^^' (U+005E U+005E)

example for datatype EDTF, property URI: http://id.loc.gov/ontologies/bibframe/originDate, value entered: 1964/1966:
`
<>  <http://id.loc.gov/ontologies/bibframe/originDate> "1964/1966"^^<http://id.loc.gov/datatypes/edtf> .
`

[2021-08-05 06:18] michelleif opened #2892 "display help text for literals with datatype or regex"
consider adding help text for literal fields such as the below. (but see also #2906 about overhauling input components, which might have a better design)

for literal fields without a datatype, display text above the empty field:
"Enter a literal"
for literal fields *with* a datatype (see #2889) display text above the empty field:
"Enter a literal of type [datatype]" (ideally, [datatype] could be

[2021-08-05 06:23] michelleif commented on #2837
we plan to add support for literal datatypes (see #2889).

it seems a literal cannot have both a datatype and a language tag (https://www.w3.org/TR/n-triples/#sec-literals) so would it be sufficient to say that if literal field has a datatype specified, do not display language button and do not add language info to RDF statement?

[2021-08-05 06:27] michelleif commented on #2727
since this ticket combines specifying datatype in template creation; validating datatype in data entry; (and some info about automatic entry of data), closing it in favor of this new epic: #2888

[2021-08-05 06:27] #2727 closed

[2021-08-05 06:30] michelleif opened #2893 "In template creation, rename "Template Id" to "Template ID""
see #2414 which originally requested this change

[2021-08-05 06:33] michelleif opened #2894 "in template creation, change the type of the Template Id field to "uri or lookup""
We require that a "Template Id" be in the form of a URI, but the field is a literal, which means users can inadvertently (and often) enter IDs that are not URIs, which causes problems later down the line ( like Sinopia not wanting to nest that template in another one, à la #2738).

**change the type of the Template Id field to "uri or lookup"** so that user will be forced to enter an Id that is a

[2021-08-05 06:34] #2414 closed

[2021-08-05 06:34] michelleif commented on #2414
closing in favor of separate tix: #2893 and #2894

[2021-08-05 06:36] michelleif commented on #2118
closing this as we are proposing disallowing literals in lookup fields

[2021-08-05 06:36] #2118 closed

[2021-08-05 06:46] michelleif commented on #2309
prioritization in process for WC4; this ticket reflected WC3 prioritization, so closing

[2021-08-05 06:46] #2309 closed

[2021-08-05 06:48] michelleif commented on #2770
@justinlittman please advise on how we can retain useful "bookmark" function if we get rid of template ID in URL

[2021-08-05 11:13] justinlittman commented on #2770
We wouldn't.

[2021-08-05 11:16] justinlittman commented on #2837
If a user wanted to disable a language tag (e.g., for an ISBN), what datatype would be specified?

[2021-08-05 11:25] justinlittman commented on #2106
No, the language in all future literal fields would change to that language; existing literal fields would be unchanged.

[2021-08-05 11:27] justinlittman commented on #2541
Expand templates with no defaults? I suspect that expanding some nested templates and not others would be confusing to users.

[2021-08-05 13:56] michelleif commented on #2837
ISBN=integer?

[2021-08-05 13:56] michelleif commented on #2541
isn't that what we do now? we expand those with defaults and don't expand those without defaults. that is confusing.

[2021-08-05 14:20] justinlittman commented on #2837
No. ISBNs can have X as the check digit.

[2021-08-05 14:27] michelleif commented on #2837
ok. i want to avoid ending up with a set up where you can make a literal field, you give it a datatype like integer, and at the same time leave "disable language tag" unchecked, therefore creating a field that expects an integer AND a language.

or maybe we have to live with that until we implement #2862

[2021-08-05 14:46] michelleif commented on #2770
see related ticket requesting display of template ID so that user can know unambiguously what template they're using, and copy/paste it to refer someone else to it

[2021-08-05 14:55] michelleif opened #2895 "display template ID along with template name in Editor"
display the template ID along with the template name in the Editor so that user can know unambiguously what template they're using, and copy/paste it to refer someone else to it

could display in parentheses after template name on same line, or on a line below (like on Resource Templates tab)

background: when we remove the active template from the app URL (#2770) we will lose the ability for user

[2021-08-05 15:00] NancyL commented on #2886
I'll just put in a reminder that we were once able to look up classes and properties when creating templates. It was really useful, especially with rdfs:label and such.

[2021-08-05 15:04] NancyL commented on #2889
looks good!

[2021-08-05 15:08] michelleif commented on #2880
see #2888 for initial validation implementation; ISBN to be re-visited after current work cycle

[2021-08-05 15:11] michelleif opened #2896 "Lookup experience improvements"
Includes disallowing literal entries in lookup fields, as well as UX improvements for both QA lookups and Sinopia lookups. Disallowing literal entries in lookup fields has a few corollary tickets which result from needing a new way to create and enter URIs when a desired URI is not found in a lookup.

[2021-08-05 15:18] michelleif commented on #2178
we do have a preview with several format choices, so I think the direction of this ticket should be this part: "Currently, reviewing a complete description set involves looking at the values in four (for our RDA profiles; this would be three in the case of BIBFRAME) resource templates."

and should be considered as part of overall work cycle goal of improving UX for working with multiple related r

[2021-08-05 15:32] NancyL commented on #2837
I'm thinking of 3 possible ways to mitigate this. I don't know if any of these are possible--just brainstorming.
1. Instead of being separate, add the option for a language tag to the list of datatypes to be chosen, with perhaps an added checkbox requesting that it be made the default type. If the list restricts you to only choosing one, the language vs datatype problem would be resolved.
2. When

[2021-08-05 15:38] NancyL commented on #2894
I think part of the problem here is that most people will not recognize "pcc:bf2:Monograph:Work" as being a URI, given the lack of "http://". Maybe that's just a training thing, but generally in Sinopia if you are adding a URI, it means the whole thing.

[2021-08-05 15:54] NancyL commented on #2106
To be clear to catalogers we need to differentiate between default language for literals vs lookups (which may be in a different language). And to be sure, we would still need to be able to change and/or suppress the language as we catalog--the language of cataloging may be different from the language of the resource resulting in a mixed language description.

[2021-08-05 15:58] NancyL commented on #2541
I think people are looking for an expand all/collapse all function. This would include all fields, whether empty, already filled in by the cataloger or with a default. The navigation on the left shows what fields have data entered through the checkmark, so the need to keep these fields open just to show there is data there is redundant (though redundancy can be good...). On the other hand, many wo

[2021-08-05 16:44] NancyL commented on #2887
We would need the ability to add the label along with the URI; otherwise the rdf (at least in our current templates with the resource attribute "suppressed", the URI becomes both the URI and the label as well.

[2021-08-05 16:56] NancyL commented on #2339
This should work as long as it is paired with the ability to add a label.

It will allow catalogers to create an authority in the NAF and then enter the expected URI (since we know what it will be) & label in Sinopia before that URI is officially generated. That will avoid anyone having to return later to change the URI.

And if a cataloger does not for some reason want to create an authority in N

[2021-08-05 17:06] michelleif opened #2897 "when Previewing from Search tab, offer same Preview options as in Editor"
this includes offering the requested "user-friendly" preview (#2178)

[2021-08-05 17:13] michelleif opened #2898 "Multiple-resource UX improvements"

[2021-08-05 17:27] michelleif commented on #2849
the "unused triples" are only shown the first time a resource is opened. once user saves the resource, those triples are discarded. will the user want to collapse it? presumably they want to review the data in it and maybe copy some of it. if they don't want to see it, they will save the resource and it will disappear.

do we really need this?

#2541 includes request to make sections collapsible.

[2021-08-05 17:36] michelleif commented on #2672
we do have mouseover text for those icons, at least in Firefox. are you not seeing them?

example from Dashboard:
![Screen Shot 2021-08-05 at 10.35.58 AM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/f2bc88e3-50e9-405d-ae8b-3233b044efed)

[2021-08-05 17:56] michelleif opened #2899 "Allow use of system-generated metadata in fields (PCC Priority)"
1. in template configuration, add option to specify that the value of a literal field should be populated by Sinopia at the time of filling in the template (a.k.a. cataloging / editing).

values that can be configured:
1) Sinopia user name/ID of person who creates the resource
2) Sinopia user name/ID of person who last saves the resource
3) date/time that the resource will be created
4) date/time

[2021-08-05 17:56] michelleif commented on #2899
for auto-generated date see #2899

[2021-08-05 18:02] michelleif commented on #1903
see #2899 for auto-generation of dates

revisit auto-generation of record status in later work cycle

[2021-08-05 18:05] michelleif commented on #2788
closing in favor of #2899 which asks for system-generated values in generic terms, so that it can be used with any template and any property. #2899 covers creation and change dates.

it does not cover "generation process". if it turns out that is needed, we will need a separate ticket that explains how to determine the value

[2021-08-05 18:05] #2788 closed

[2021-08-05 18:06] #2104 closed

[2021-08-05 18:06] michelleif commented on #2206
closing in favor of #2899

[2021-08-05 18:06] #2206 closed

[2021-08-05 18:10] michelleif opened #2900 "Visual design improvements"
**to be reviewed by @astridu after design of #2906**

[2021-08-05 18:13] michelleif commented on #2083
covered by #2541

[2021-08-05 18:13] #2083 closed

[2021-08-05 18:17] NancyL commented on #2672
I can confirm that they show up in Chrome as well, though I think there is an issue for clarifying what "edit" means.

[2021-08-05 18:18] michelleif commented on #2887
see also #2843 which will allow a user to enter a label along with the URI

[2021-08-05 18:20] NancyL commented on #2887
Yup, I see that one. Just pointing out that both need to be implemented together to be viable.

[2021-08-05 18:22] michelleif commented on #2865
what work is required to "make all the interface strings translatable by one of the existing frameworks"? @justinlittman @jermnelson has your team done this before, perhaps with DLME?

[2021-08-05 18:23] michelleif commented on #2873
is there an example available yet from the LC comparison viewer?

[2021-08-05 18:33] michelleif opened #2901 "Edit resource permissions"
**_Background_**
_see this [Proposal](https://docs.google.com/document/d/1Jy31gtqne3LSE7cyW9cXJLHs86Qns27crabpUMHrrSI/) for full description of model)_
Currently any user can edit any resource. However, these resources (templates and descriptions) are valuable sets of information that will soon be used in production processes in which creators and downstream users of the templates and descriptions

[2021-08-05 18:36] michelleif commented on #2901
needs ticketing!

[2021-08-05 18:36] michelleif commented on #2789
closing in favor of #2901

[2021-08-05 18:36] #2789 closed

[2021-08-05 18:38] michelleif opened #2902 "Transfer of MARC records from Sinopia to Symphony"
discussions in progress; ticketing needed

[2021-08-05 18:41] michelleif commented on #2826
is the desired feature to allow users to change a resource's group by themselves?
also do we need to allow users to put a resource in more than one group?

[2021-08-05 18:45] michelleif opened #2903 "entered literal values should not display as clickable"
1. enter a value in a literal field
2. value is shown below field, and when you mouse over it, a hand appears, as if the value is clickable, but there is no expected action on clicking, so:
don't show the hand.

[2021-08-05 18:46] michelleif commented on #2651
closing in favor of:
1) remove clickability from entered literal: #2903
2) for lookups, remove the globe and make selected/entered value clickable
3) for property = resource, no nested template (i.e., URI expected), make entered URI clickable

[2021-08-05 18:48] michelleif opened #2904 "make selected label in lookup field clickable and remove globe"
after user selects a lookup result and the label is displayed.

make the label to be clickable, with a link to the corresponding URI

currently we are showing a globe icon

remove the globe icon

[2021-08-05 18:51] michelleif opened #2905 "for URI fields, make entered URI open in web page when clicked"
currently when you enter a value in a URI field, the value is displayed below the field and appears clickable (hand appears) but nothing happens when you click it

change it so that when you click, your browser opens the URI (in another window or tab, whatever is standard)

[2021-08-05 18:52] #2651 closed

[2021-08-05 18:56] michelleif commented on #2106
if we implement language detection #2876 then do we also need this?

[2021-08-05 18:59] NancyL commented on #2106
yes I think so. I doubt language detection is perfect (it isn't in Google translate!) and there will be languages that I'm sure it won't know. There will also be many instances of mixed languages (especially if we change how we do titles as LC is considering...)

[2021-08-05 19:04] NancyL commented on #2826
to your first question: Yes. We would not want to have to ask a developer every time! If a person belongs to more than one group, that person should be able to move their descriptions from one of those groups to another (templates too)--I'm sure people will save to the wrong place by mistake from time to time. If there is group admin (is there?) they should be able to move anyone's from one group

[2021-08-05 21:06] michelleif opened #2906 "Input interaction overhaul"
We have three types of input fields, and many inconsistencies among them in how data is input and displayed, and even inconsistencies in how we handle one kind of input in different situations.

(Example: currently for lookup fields we display "Enter lookup query" in the empty field; for URI fields we display the message "Enter a URI" **above** the empty field, with name of the field displayed in

[2021-08-05 21:22] michelleif opened #2907 "allow template creator to specify regex to validate expected literal value"
for a literal field, allow template creator to specify a regex that will then be used to validate the data that is entered into this field

see #2889 re template creator being able to specify an expected datatype for a literal
see #2890 re validating the entered input

[2021-08-05 23:25] michelleif commented on #2846
notes from Astrid: Batch cataloging interface for Sinopia in the future: Far ahead, would be interesting to see what it looks like in tabular data into sinopia. Not sure what acquisitions is going to look like. In order to batch create acquisitions, use spreadsheets and load them, can label columns and ingest. Batch lookups, making connections when it gets cataloged, allow temp record to exist wit

[2021-08-05 23:26] michelleif opened #2908 "Push/pull or check in/out so we don't overwrite if someone else is working on the same record."
no reports yet of this being an issue, but ticketing here for future.

[2021-08-06 03:58] astridu commented on #2190
I do not, but I can start collecting them.

[2021-08-06 04:04] astridu commented on #2849
I see. I was opening resources, closing them without saving/changing anything, and then opening them again. Not sure how common that use case is, but it was annoying to get that large yellow block each time I opened a resource to check something.

[2021-08-06 12:29] justinlittman commented on #2905
Only when begins with `http` or `https`?

[2021-08-06 12:36] justinlittman commented on #2865
Will require investigation. We've never done this with a React app.

[2021-08-06 14:33] michelleif commented on #2190
we do have 3 open tix for specific error messages (#2457, #2861, #2860).

how about we close this ticket, with the understanding that if you come across reports of unclear error messages, we will ticket separately.

[2021-08-06 14:47] michelleif commented on #2869
since this applies to Sinopia lookups (as well as searches) we need to work on this in WC4 because it is part of supporting creating a Person entity in Sinopia then looking it up in a Work resource in order to use the URI (because we are taking away ability to put literal in URI field which was previous practice of how to handle people not found in external authority sources)

if we don't want to

[2021-08-06 14:49] michelleif commented on #2339
re creating a person entity via a template in Sinopia, and then doing a lookup in another template in order to use that entity:
I tested it, any literals in the person description are searchable.
But when you do the lookup, the only thing you see about the person is the Sinopia URI, because Sinopia doesn't know what to use for a label when there is no bf or RDA title property. (in this screenshot,

[2021-08-06 18:45] #2644 closed

[2021-08-06 18:46] #2499 closed

[2021-08-06 18:46] #2464 closed

[2021-08-06 18:48] jermnelson commented on #2385
Closing, update BIBFRAME and remove BIBFRAME refs moving to API.

[2021-08-06 18:48] #2385 closed

[2021-08-06 18:49] #1954 closed

[2021-08-06 18:50] #1904 closed

[2021-08-06 18:50] #1984 closed

[2021-08-06 18:51] #138 closed

[2021-08-06 18:51] #1956 closed

[2021-08-06 19:47] #2190 closed

[2021-08-10 20:50] michelleif opened #2910 "clean up Sinopia stage environment EXCEPT for the resources noted below"
- [x] Checking with users to see which resources and templates should be retained (Michelle)
- [x] Compile a list of the URIs of the resource to be retained.
- [x] Create a backup of database.
- [x] Delete resources for URIs provided.*

* Will need to determine best way to do this. Perhaps add an API method for delete?

[2021-08-10 20:51] michelleif commented on #2826
closing this as features will be added as part of #2901

[2021-08-10 20:51] #2826 closed

[2021-08-10 20:56] michelleif commented on #2804
I'm closing this ticket. If there are specific vocabs needed in QA, please open a QA ticket https://github.com/LD4P/qa_server/issues/new?template=new_dataset_request.md

[2021-08-10 20:56] #2804 closed

[2021-08-10 21:09] michelleif commented on #2693
please see epic https://github.com/LD4P/rdf2marc/issues/59 for the MARC conversion enhancements that will be made in the next work cycle.

if there are additional MARC fields you need converted, please open a ticket with the details

[2021-08-10 21:09] #2693 closed

[2021-08-10 21:11] michelleif commented on #2339
closing this ticket since we have decided to disallow literals in lookup fields, see epic #2896 for this work as well as follow-on tickets for user adding label when entering URI; showing context when searching Sinopia URIs; displaying label for non-title resources in search, etc.

[2021-08-10 21:11] #2339 closed

[2021-08-10 21:15] michelleif commented on #2672
i changed the title of this ticket to reflect above.

@NancyL what would you like the mouseover text for the Pencil icon to say?

[2021-08-10 21:17] michelleif commented on #2849
postponing this to a future work cycle when we will address the larger issue of mismatched data

[2021-08-10 21:18] michelleif commented on #2865
making this a research task for Work Cycle 4: assess what would be required to support interface localization

[2021-08-10 21:21] michelleif commented on #2852
@astridu please see above question

[2021-08-10 21:24] NancyL commented on #2672
"Edit template" or "Modify template". And the "copy" should be "Copy template". There should be something to clarify what you click on to actually enter data as well.

[2021-08-10 21:39] michelleif commented on #2894
@justinlittman is the Template ID stored as a literal or a URI? maybe a URI fields is _not_ what is wanted? instead do we want a literal field that specifies you need to enter something in the form of a URI?

[2021-08-11 00:35] justinlittman opened #2911 "Consider prettier"
See https://prettier.io/

[2021-08-11 11:07] justinlittman commented on #2894
Literal. https://github.com/LD4P/sinopia_api/blob/main/setup/rt_resource_template_doc.json#L138

[2021-08-11 18:02] michelleif commented on #2853
@astridu could you look at this one as well? the pencil is confusing because it could signfy "fill in a form" or "edit the configuration of a template"
also confusing is that we have icons for edit and copy, but to "use" the template (open for cataloging, fill in, whatever you want to call it) we use the template link
one idea could be to use a gear icon for editing the template itself, since you

[2021-08-13 15:32] michelleif opened #2912 "produce list of emails of registered Sinopia users (Stage and PRD) for LD4P3 grant report August 2021"
Product Owner gets email notification when new users sign up but has no way via Cognito to get a report of all users. I need to know how many users and where they're from, for our reporting purposes. Please generate a list of all email addresses registered: one list for Stage and one for PRD.
Thank you!

[2021-08-17 21:07] NancyL commented on #2899
also automatically fill in "change date"

[2021-08-17 21:10] NancyL commented on #2910
Some users may want to have their templates moved to production rather than save them in stage...

[2021-08-17 21:25] NancyL commented on #2887
I am a bit worried this is going too far. It is generally a valid thing to enter a literal within a defined range and create a blank node. Are we getting rid of that as well? That might be much too restrictive.
e.g.,
bf:place [
a bf:Place ;
rdfs:label "Charleston Lake"
] .
If no range is there to create the blank node, then yes, it should restrict...

[2021-08-17 22:23] justinlittman commented on #2887
Can you describe this in terms of resource templates @NancyL?

[2021-08-17 22:46] NancyL commented on #2887
In pcc:bf2:Monograph:Work

Using bflc:PrimaryContribution (though would also apply to other nested templates as well)

Currently, we have the resource attribute "suppressible" which allows either a lookup, with this result:

<https://api.stage.sinopia.io/resource/db2b22bc-e175-4474-b792-51c44e714c96> <http://sinopia.io/vocabulary/hasResourceTemplate> "ld4p:RT:bf2:Monograph:Work:Un-nested";
    a <

[2021-08-18 11:12] justinlittman commented on #2887
I think the "suppressible" attribute was added to allow using the URI (`http://id.loc.gov/authorities/names/nb2014004704`) as the object of `http://id.loc.gov/ontologies/bibframe/agent` rather than a blank node. Previously, it used a blank node regardless of whether the object was a URI or a literal.

[2021-08-18 16:49] michelleif commented on #2785
to return to the original point of this ticket,
I think we are asking for:
ability for template creator to manually specify a set of acceptable values for a field, which will then be displayed in a dropdown (not a lookup: because the cataloger will want to see the all the choices, and may not know exactly what to lookup)

the set of values could be a list of subclasses; it could be a list of liter

[2021-08-18 17:00] michelleif opened #2916 "Language tagging improvements"
Tickets to be reviewed by @NancyL

[2021-08-18 17:04] michelleif commented on #2877
script is covered by #2101; since region is a "maybe", closing this

[2021-08-18 17:04] #2877 closed

[2021-08-18 17:09] #2912 closed

[2021-08-18 17:09] michelleif commented on #2912
received info in email from jeremy

[2021-08-18 19:05] michelleif commented on #2899
@NancyL to get more requirements based on questions from @justinlittman . A more desirable solution may be to better reveal the change history we are already storing on the backend.

[2021-08-20 19:19] kevkishi opened #2917 "Sinopia search not finding data that exists"
What went wrong? What did you expect to happen?
The stage.sinopia search is unable to find existing resource. We've created 2 versions of this resource, but the search does not bring up either of them in the results.
https://api.stage.sinopia.io/resource/8ba6aa7d-0886-4007-9c48-6cbd878e116e
https://api.stage.sinopia.io/resource/a664a8a9-a5a2-41a1-b944-4e1648788a26
Other resources entered by the sa

[2021-08-20 19:28] kevkishi commented on #2917
I'm looking at the data.
The bf:mainTitle includes quotation marks within the string. Is this causing the issue?

[2021-08-20 19:31] michelleif commented on #2917
i just made a new resource on stage and was unable to find it. quotation marks should not be an issue. checking with developers if stage indexing is broken

[2021-08-20 19:31] justinlittman opened #2918 "Sinopia/ILS middleware implementation planning"
See https://docs.google.com/document/d/1d17pAQH_JlPY2eEMEFMPqyuazUJoFP_DL_IwXGNDeAQ/edit?usp=sharing

[2021-08-20 19:35] justinlittman opened #2919 "Permissions implementation planning"
See https://docs.google.com/document/d/1Jy31gtqne3LSE7cyW9cXJLHs86Qns27crabpUMHrrSI/edit?usp=sharing

[2021-08-20 20:42] jermnelson commented on #2917
During this week's dependencies updates, our Sinopia Indexing Pipeline middleware increased it's version of an incompatible  Elasticsearch client. Working with Infrastructure First Responder @peetucket on fix that should be pushed up by the end of the day. I'll run an re-index job once the fix is pushed up that will pull in these records.

[2021-08-20 22:58] jmartin-sul commented on #2917
we think that LD4P/sinopia_indexing_pipeline#292 should fix this, and seemed to take care of the issue in stage.

the updated indexing pipeline should be deployed to prod, and i've asked ops to trigger a full reindex in prod to remedy whatever got dropped earlier this week.

[2021-08-20 22:59] jmartin-sul commented on #2917
i did successfully run a reindex on stage (paired w/ @peetucket and @jermnelson to confirm)

[2021-08-20 23:17] jermnelson commented on #2917
Not great news; I was unable to find either resources after the re-index. One interesting data-point is that doing a wildcard search and sorting by **Modified date, newest first**, the last resource indexed is from July 16th 2021. Will continue to investigate.

[2021-08-23 11:41] justinlittman commented on #2917
![image](https://user-images.githubusercontent.com/588335/130441364-3550acc6-9c5c-4911-81b5-d1a743062bfa.png)

[2021-08-23 13:40] justinlittman opened #2921 "Upgrade circle docker image to latest"
This is for the docker images specified in the Dockerfile.

[2021-08-23 14:08] justinlittman commented on #2917
Here are the problems:
[code]

and

[code]

[2021-08-23 14:09] justinlittman commented on #2917
@jermnelson Looks like those are records that you created.

[2021-08-23 14:10] justinlittman commented on #2917
This is now working, so I'm closing ticket. Thanks for reporting @kevkishi!

[2021-08-23 14:10] #2917 closed

[2021-08-23 16:57] michelleif commented on #2894
@justinlittman (similar question to https://github.com/LD4P/sinopia_indexing_pipeline/issues/285)
is the solution here to make sure the user does not enter an invalid template ID? or to relax how Sinopia handles template IDs?

[2021-08-23 16:59] justinlittman commented on #2894
Both. In the short term, we can replace spaces with _.

[2021-08-23 17:29] michelleif commented on #2894
so colon is not required? we say colon is required here: https://github.com/LD4P/sinopia/wiki/Template-Metadata

[2021-08-23 18:36] NancyL commented on #2894
We did the colon separation as a best practice that permitted a structured set up of template names, based on what LC did. There is no technical requirement for it as far as I know.

[2021-08-24 14:51] michelleif commented on #2910
do NOT delete these templates:
UMN:RT:BF2:AdminMetadata
UMN:RT:bf2:Monograph:Instance:Un-nested
UMN:RT:bf2:Monograph:Item:Un-nested
UMN:RT:bf2:RareMat:Instance

[2021-08-25 12:43] jimfhahn commented on #2766
@jermnelson just to clarify if I am adding an API source like Annif API are you saying it should be a new file 'newapi.json' or add it to 'apidoc.json' ?

Also wondering if I should pursue Annif hosting from Penn IT or if it Annif is required to be hosted within a specific infrastructure(s) ...?

[2021-08-26 15:03] justinlittman opened #2924 "Add "editingGroups" to state model"
* This includes in:
   *  sinopiaApi.js
   * Adding to state on resource load (like "group") -- see `actionCreators/resources.js#loadResource`.
   * Adding to state on resource save -- see `actionCreators/resources.js#saveNewResource`.
   * Change group and editing groups on resource save -- see `actionCreators/resources.js#saveResource`.
   * Adding a selector for group and editing groups.
* Do *

[2021-08-26 15:10] justinlittman opened #2925 "Change "group" to "groups" for interaction with Sinopia API"
* When POST/PUT to Sinopia API resource endpoint, provide "groups".
* When GET from resource endpoint, expect "groups".

[2021-08-26 15:12] justinlittman opened #2926 "Change to "groups" for Sinopia search results"
* Expect search results to contain "groups" instead of "group".
* Display multiple values for groups in search results.

[2021-08-28 00:56] michelleif commented on #2910
more templates to save: [PCC_and_LD4P_Templates to save.xlsx](https://github.com/LD4P/sinopia_editor/files/7069903/PCC_and_LD4P_Templates.to.save.xlsx)

[2021-08-30 11:19] justinlittman opened #2928 "Consider if should be using useLayoutEffect"
Skim the components to see if there are cases where `useLayoutEffect` should be used instead of `useEffect`.

See https://kentcdodds.com/blog/useeffect-vs-uselayouteffect

For example, https://github.com/LD4P/sinopia_editor/blob/main/src/hooks/useNavigableComponent.js#L10-L12

[2021-08-30 11:59] justinlittman opened #2929 "Get groups from Sinopia API"
Instead of configuration.

[2021-08-30 12:01] justinlittman commented on #2929
See https://github.com/LD4P/sinopia_api/issues/143 for Sinopia API groups endpoint changes.

[2021-08-30 12:06] justinlittman opened #2930 "Update group choice modal"
* Per new design
* User can select a group to be owner.
  * If user is a member of a single group, the group will be selected by default.
  * If user is a member of two or more groups, no groups will be selected by default.
* User can select zero more more editing groups:
  * This is from the list of all groups.

[2021-08-30 12:12] justinlittman opened #2931 "Allow user to update groups for an existing resource"
* Per new design
* Change can be made when user is editing a resource.
* Changing the group results in the resource being saved.

[2021-08-30 12:20] justinlittman opened #2932 "Enforce edit permissions"
_If the user is a member of at least one group:_
For a resource or resource template, the edit button should only be displayed when the user is a member of a group that is the owner group or one of the editing groups.

This is for all places that the edit button (
![image](https://user-images.githubusercontent.com/588335/131337929-d94b325f-bc1b-48d0-8df5-516005bac6d1.png)
) appears. This user may

[2021-08-30 12:24] justinlittman commented on #2932
Note that it should be possible to get the user's groups from the JWT. See https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-using-the-id-token.html

[2021-08-30 14:40] michelleif commented on #2910
awaiting additional list to save from U of Alberta

[2021-08-30 15:43] NancyL commented on #2910
Think I added all those, but always good to doublecheck!

[2021-08-30 22:26] jermnelson opened #2933 "Support rdfs:label for all Resources"
**Describe the feature you'd like**

Allow the cataloger to add a `rdfs:label` to any resource in Sinopia. This would improve search and search results display, another advantage would be that we could display the label in the tab for all open resources in the editor.

**Give an example**

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or f

[2021-08-31 21:39] michelleif opened #2935 "keep name of template on page when scrolling down in Editor"
when you're in Edit mode filing in a template (cataloging), and you scroll down in the template (the right side of the screen), the name of the template you're working on scrolls up out of sight.

keep the name (like you do when you scroll the left nav bar) so that user can see what template they are working with.

see also #2895

Edit tab before scrolling:
![Screen Shot 2021-08-31 at 2.36.07 PM.p

[2021-09-01 00:35] ndushay commented on #2911
to do what?  render linked data to users?    relationship to eslint?    This ticket needs a little more context for us to be able to do it.

[2021-09-01 01:09] justinlittman commented on #2911
To pretty the formatting of our code.

[2021-09-01 01:46] justinlittman commented on #2935
Why do you need to know the name of the template? What problem does this solve?

[2021-09-01 01:50] #2919 closed

[2021-09-01 03:27] michelleif commented on #2935
especially if you have multiple templates open, you forget what you're working on when you scroll down.

[2021-09-01 13:19] justinlittman opened #2936 "Allow user to request record transfer"
When a resource if a BF:instance, for each group that the user is a member of that allows ILS transfer, render a "Transfer to ILS" button. When the user clicks the button, a transfer request is sent to the Sinopia API.

* Similarly, MARC Button only renders when BF:instance. See https://github.com/LD4P/sinopia_editor/blob/main/src/components/editor/actions/MarcButton.jsx#L18
* Groups that support

[2021-09-02 00:20] michelleif opened #2938 "support nested resources whose ID does not contain a colon"
**Describe the bug**
This is on stage:

When creating a template, and adding a property of type "nested resource", I tried to nest the template whose ID is random3
<img width="787" alt="Screen Shot 2021-09-01 at 5 09 50 PM" src="https://user-images.githubusercontent.com/23069165/131761439-fa59353b-8eae-4b19-8789-3cdabe12e06f.png">

It looks ok in template configuration and saves successfully.
<img

[2021-09-02 00:21] michelleif commented on #2894
there is one place where things fail if there is not a colon in the template ID, see #2938

[2021-09-02 00:24] NancyL commented on #2938
huh, who knew? Is it because the colons become / in the URI?

[2021-09-02 13:43] justinlittman commented on #2921
See https://github.com/LD4P/sinopia_api/blob/main/Dockerfile

Also, upgrade package-lock.json to version 2.

[2021-09-02 13:45] justinlittman opened #2939 "Orbify CircleCI config"
See https://github.com/LD4P/sinopia_api/blob/main/.circleci/config.yml

[2021-09-02 13:48] justinlittman commented on #2866
Successfully implemented orbs for Sinopia API. Seee https://github.com/LD4P/sinopia_api/blob/main/.circleci/config.yml

[2021-09-02 13:48] #2866 closed

[2021-09-02 16:38] michelleif commented on #2869
see #2933 as potential solution for "what label to display?"

[2021-09-02 16:40] NancyL commented on #2933
There are some cases in which it is an rdf:value rather than an rdfs:label. Could we have both?

[2021-09-02 17:12] jermnelson commented on #2933
The intention of this ticket is to provide a mechanism to add a human-readable label for resources in the UI. I think we could use a rdf:value if a rdfs:label is unavailable but that would introduce more complexity in the code. For those cases with just a rdf:value, would adding a second triple with the rdfs:label be acceptable?

[2021-09-02 18:15] NancyL commented on #2933
Do you mean a machine-added rdfs:label? That would be okay I think

[2021-09-02 21:42] justinlittman commented on #2933
To clarify: For each resource, the cataloger must enter a label for the resource. The label would be persisted as an rdfs:label.

[2021-09-02 21:45] NancyL commented on #2933
but what if it is an rdf:value? and if there is no label, as with a URL?

[2021-09-02 21:54] michelleif commented on #2933
"must" enter, or can optionally enter? consequence of not entering: we don't have a label to display in search results (unless resource has one of the properties we do display a label for, like titles)

[2021-09-02 22:04] NancyL commented on #2933
okay by me.

[2021-09-03 00:12] briesenberg07 commented on #2763
This would be a ***wonderful*** template feature for our extremely property-heavy RDA/RDF resource templates\*.

One example use case among many would be an `rdac:Work` resource template with [creator agent of work](http://rdaregistry.info/Elements/w/P10065), with the option to apply instead or additionally one of the many narrower elements (subproperties) such as artist agent, author agent, carto

[2021-09-03 11:06] justinlittman commented on #2911
See https://www.robinwieruch.de/how-to-use-prettier-vscode

[2021-09-03 14:43] justinlittman opened #2941 "Update testing-library"
[code]

[2021-09-03 14:53] justinlittman opened #2943 "Replace babel-eslint"
See https://www.npmjs.com/package/babel-eslint

[2021-09-03 14:55] justinlittman opened #2944 "Upgrade babel-jest"
See https://www.npmjs.com/package/babel-jest

[2021-09-03 14:57] justinlittman opened #2945 "Upgrade css-loader"
See https://www.npmjs.com/package/css-loader

[2021-09-03 15:00] justinlittman opened #2946 "Remove enzyme"
[code]

It may still be used in some places; make it disappear.

[2021-09-03 15:52] AdamSchiff commented on #2763
Very wholeheartedly support this. Instead of hard coding every possibly needed property into a template, I'd like to see the ability for a cataloger to choose ones they need from a list of subproperties.  For example, if I have a derivative relationship, I'd like to be presented with a place to record derivative relationships, but then be able to select the particular type of derivative relationsh

[2021-09-03 16:04] justinlittman opened #2947 "Upgrade eslint and associated dependencies"
[code]

[2021-09-03 16:05] justinlittman opened #2948 "Upgrade file-loader"
See https://www.npmjs.com/package/file-loader

[2021-09-03 16:07] justinlittman opened #2949 "Upgrade isomorphic-fetch"
See https://www.npmjs.com/package/isomorphic-fetch

[2021-09-03 16:08] justinlittman opened #2950 "Upgrade jest and related dependencies"
[code]

[2021-09-03 16:10] justinlittman opened #2951 "Upgrade jsdom"
See https://www.npmjs.com/package/jsdom

[2021-09-03 16:15] justinlittman opened #2952 "Upgrade style-loader"
See https://www.npmjs.com/package/style-loader

[2021-09-03 16:23] michelleif commented on #2910
here is a single list of all the resources to retain. ignore above lists.
[https://app.zenhub.com/files/149367347/6ac4828b-bee4-468c-8e61-d384514e6481/download](https://app.zenhub.com/files/149367347/6ac4828b-bee4-468c-8e61-d384514e6481/download)

[2021-09-03 17:04] justinlittman opened #2953 "Upgrade @aws-amplify/auth"
See https://www.npmjs.com/package/@aws-amplify/auth

[2021-09-03 17:06] justinlittman opened #2954 "Upgrade @honeybadger-io/react"
See https://www.npmjs.com/package/@honeybadger-io/react

[2021-09-03 17:15] justinlittman opened #2956 "Upgrade bootstrap"
See https://www.npmjs.com/package/bootstrap

[2021-09-03 17:17] justinlittman opened #2957 "Upgrade crypto-js"
See https://www.npmjs.com/package/crypto-js

[2021-09-03 17:56] justinlittman opened #2961 "Replace node-sass"
See https://www.npmjs.com/package/node-sass

[2021-09-03 17:57] justinlittman opened #2962 "Upgrade popper"
See https://www.npmjs.com/package/popper.js

[2021-09-03 18:03] justinlittman opened #2964 "Upgrade to react 17"
See https://www.npmjs.com/package/react

[code]

[2021-09-03 18:05] justinlittman opened #2965 "Upgrade react-bootstrap-typeahead"
See https://www.npmjs.com/package/react-bootstrap-typeahead

[2021-09-03 18:26] justinlittman opened #2967 "Replace shortid"
See https://www.npmjs.com/package/shortid

[2021-09-03 20:38] #2918 closed

[2021-09-03 21:24] #2939 closed

[2021-09-03 22:33] michelleif commented on #2938
(previously described in different words in #2738 which we closed since there was a workaround but given the amount of time i just spent re-troubleshooting and then not successfully finding that ticket! please prioritize)

[2021-09-03 22:39] michelleif opened #2969 "handle spaces in new template IDs"
when creating a template, if you put a space in the template ID, Sinopia saves the template successfully,
![Screen Shot 2021-09-03 at 3.36.52 PM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/cd21f469-5ee8-490c-829f-dbbdb6001dd3)![Screen Shot 2021-09-03 at 3.37.33 PM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/8c780518-2c09-4c9f-9ca3-a6f60a8a7c55)
and lis

[2021-09-03 22:39] michelleif commented on #2894
closing this since we now have #2938 and #2969

[2021-09-03 22:39] #2894 closed

[2021-09-04 00:18] astridu commented on #2852
@michelleif This is now a moot point given the new direction of design. Closing this ticket.

[2021-09-04 00:18] #2852 closed

[2021-09-04 00:20] astridu commented on #2853
Nancy and I talked, and here's a proposal to address the issue. We get rid of the icons and make the text link explicit so you (hopefully) know what you're doing.
![image](https://user-images.githubusercontent.com/42216982/132076168-46e4d39e-0540-4812-8a21-11fcaf9c4fd3.png)

[2021-09-04 00:27] astridu commented on #2156
The first checkbox could be 'Select all'. If you check that first box, then all boxes in that section are selected. If you un-check it, then none of the boxes are selected.
![image](https://user-images.githubusercontent.com/42216982/132076345-390bbe27-d9e6-4de5-b474-4f295610da89.png)

[2021-09-04 00:34] ndushay opened #2970 "switch to CodeClimate for test coverage for consistency"
- [x] get coverage working in CodeClimate
- [x] remove coveralls

[2021-09-04 02:16] justinlittman commented on #2853
Seems clear to me. Do we replace icons elsewhere as well or just for templates?

[2021-09-04 02:33] astridu commented on #2853
I have only heard that this is an issue for templates. I can see if they want to do this for everything else.

[2021-09-04 17:55] justinlittman commented on #2964
As of now, there are still too many dependencies that have <17 as peer.

[2021-09-05 08:40] #2954 closed

[2021-09-05 08:42] #2946 closed

[2021-09-05 08:42] #2944 closed

[2021-09-05 08:44] #2951 closed

[2021-09-05 08:45] #2941 closed

[2021-09-05 08:47] #2967 closed

[2021-09-05 08:59] ndushay commented on #2950
jest-junit is GONZO with PR #2978 (it was needed to get coverage in format for coveralls).  Please do merge #2978 first.

[2021-09-07 18:24] justinlittman opened #2983 "Use circle for dependency updates"
As a replacement for dependency update scripts running on Jenkins.

[2021-09-07 21:00] CECSpecialistI commented on #2763
This would be a game-changer for the RDA/RDF resource templates, shortening them significantly. I'm so glad this issue has been opened! I am also curious about the question @briesenberg07 brought up, regarding whether the implementation of this feature could be applied to any ontology in a given resource template.

[2021-09-07 22:37] #2970 closed

[2021-09-07 23:16] #2965 closed

[2021-09-08 13:56] justinlittman commented on #2926
No longer necessary.

[2021-09-08 13:56] #2926 closed

[2021-09-08 13:57] justinlittman commented on #2925
No longer necessary.

[2021-09-08 13:57] #2925 closed

[2021-09-09 03:04] justinlittman commented on #2910
@michelleif Here is a list of URIs that were included in the save list, but are not found in stage. OK to ignore?
[save_missing.txt](https://github.com/LD4P/sinopia_editor/files/7133074/save_missing.txt)

[2021-09-09 04:19] michelleif commented on #2910
at least one of these is just a typo in my list:
https://api.stage.sinopia.io/resource/TAMU:RT:BF2:MonographInstance:Un-nested should be
https://stage.sinopia.io/editor/TAMU:RT:BF2:Monograph:Instance:Un-nested

so I need to check them all and get back to those who submitted if there is something not found. will post new comment when done.

[2021-09-09 16:14] michelleif commented on #2763
there are a couple ways we could implement this:

1. template creator manually adds a list of the properties the cataloger can choose from for a field; or
2. template creator specifies: this field can use any subproperty of property x, and at the time of cataloging, Sinopia queries an ontology to find out the subproperties of property x

We are anticipating doing #1 because #2 is more difficult an

[2021-09-09 18:48] briesenberg07 commented on #2763
Thanks for the update @michelleif

+1 for the ability to use props from any ontology!

[2021-09-09 20:00] #2950 closed

[2021-09-09 21:43] michelleif commented on #2763
P.S. implementation option 2 would also let you use any ontology, but it wouldn't let you mix and match, or do a subset of subclasses

[2021-09-09 22:52] NancyL commented on #2763
option 1 is good--ontology extensions (as opposed to fully different ontologies) often are built as subclasses or subproperties of the primary ontology. This would allow the addition of those as well as subclasses/properties in any other ontology

[2021-09-10 14:17] #2928 closed

[2021-09-10 14:22] #2983 closed

[2021-09-10 16:20] #2962 closed

[2021-09-10 16:55] michelleif commented on #2910
@justinlittman attached is a doc listing the missing URIs in first column, with corrections in second column, or notes as to which ones are ok to ignore
[missing_corrected.xlsx](https://github.com/LD4P/sinopia_editor/files/7145299/missing_corrected.xlsx)

[2021-09-10 17:33] astridu commented on #2930
If user selects owner to be anyone other than public, they can select either one or a number of institutions to edit OR public.
![image](https://user-images.githubusercontent.com/42216982/132893428-b2302a68-13de-4220-a52c-c2d2a3949fcf.png)

[2021-09-10 17:35] astridu commented on #2930
If user selects owner to be Public, then edit selection is automatically 'Public'.
![image](https://user-images.githubusercontent.com/42216982/132894544-eff6f014-261d-4d36-a2da-87274b88dea7.png)

[2021-09-10 17:37] astridu commented on #2930
If user does not have permission to select, they see a read-only version of the page with only a 'close' button at the bottom. If this design is not possible, is it easier to show the modal with all the controls disabled?
![image](https://user-images.githubusercontent.com/42216982/132894650-9d74f03c-5230-4fa3-afaa-82992589dfa1.png)

[2021-09-10 17:48] jcoyne opened #2990 "The editor should have a url that I can share that shows the resource."
So that I can share with someone else the page I'm editing.

Currently I have to know the URI in the API and then search for that resource and then click on it.

This may also be useful to link from Folio.

[2021-09-10 18:02] michelleif commented on #2990
yes that would be nice; we currently have URIs for sharing a **template**, but it's not working so is slated to be dumped see #2770

[2021-09-10 18:10] astridu commented on #2931
Place link in upper right corner of resource/template page.
![image](https://user-images.githubusercontent.com/42216982/132898469-e4ad6b55-6914-4f53-828e-a9bfb73980fa.png)

[2021-09-10 18:34] justinlittman commented on #2431
Popper has been removed as a dependency, though it is still a peer dependency of Bootstrap 4.

[2021-09-10 18:34] #2431 closed

[2021-09-10 18:48] michelleif commented on #2910
also retain these templates:
example:template
demo2:art:object
test:resource:onefield_required_v2
test:embed:1_RT_one_field_not_required
test:embed:1_RT_one_field
test:embed:notrequired_but_embedded_required
test:embed:2_RTs_one_field_both_required
test:embed:resource:noRT
test:embed:requiredfield
test:resource:noRT
test:resource:multiplenestede
test:template:one_literal
test:template:another_lite

[2021-09-10 21:06] michelleif commented on #2990
we do have this, at the top of a resource screen.
![Screen Shot 2021-09-10 at 2.05.54 PM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/7dc13bf1-144f-4791-aedd-d6501ccc4ca4)

[2021-09-10 22:02] justinlittman commented on #2990
This will be useful in Folio so that a link can be provided that will open a resource in Sinopia.

[2021-09-10 22:12] michelleif commented on #2990
oh, i see, ignore my comments! (i will delete)

[2021-09-13 19:04] #2784 closed

[2021-09-13 19:38] michelleif commented on #1639
this does become an issue when doing a cleaning of the stage environment for example, even though we don't allow user deletion of templates, so reopening this

[2021-09-13 21:01] #2870 closed

[2021-09-13 21:24] michelleif opened #2995 "rename "Institution" column to "Group" in search results on Search tab and on Dashboard"
follow-on to #2870:

rename "Institution" column to "Group" in search results on Search tab and on Dashboard

[2021-09-13 23:53] ndushay commented on #2938
When we load the stored JSON-LD with the JsonLdParser from https://www.npmjs.com/package/jsonld-streaming-parser, it defaults to what it considers "true JSON-LD behavior":

[code]

If we set `strictValues` to true (in `src/utilities/Utilities.js`), we get:

![image](https://user-images.githubusercontent.com/96775/133171517-9090c08c-5e56-46c3-a9a2-06c1c928f241.png)

The implication being that a col

[2021-09-14 11:02] #2995 closed

[2021-09-14 12:30] justinlittman commented on #2921
Done.

[2021-09-14 12:30] #2921 closed

[2021-09-14 16:58] justinlittman opened #2997 "Switch template id to a URI"
Currently, when creating a template, the template id is a literal. See https://github.com/LD4P/sinopia_api/blob/main/setup/rt_resource_template_doc.json#L111-L141

The template id is used to construct the URI for the template (https://github.com/LD4P/sinopia_editor/blob/main/src/actionCreators/templates.js#L44). Also, when a template is added as a nested template to another template, the template

[2021-09-14 16:59] justinlittman commented on #2938
Superceded by #2997.

[2021-09-14 16:59] #2938 closed

[2021-09-14 16:59] justinlittman commented on #2969
Superceded by #2997.

[2021-09-14 16:59] #2969 closed

[2021-09-14 17:24] #2956 closed

[2021-09-14 19:09] justinlittman opened #2998 "MARC Button not working"
When the MARC button is clicked, nothing happens.

![image](https://user-images.githubusercontent.com/588335/133319325-97cd0e29-f408-4eea-bcc1-c0c7d9e63428.png)

[2021-09-14 19:49] #2998 closed

[2021-09-14 20:48] #2910 closed

[2021-09-14 21:11] #2957 closed

[2021-09-15 15:46] justinlittman commented on #2949
closed by https://github.com/LD4P/sinopia_editor/pull/3000

[2021-09-15 15:46] #2949 closed

[2021-09-15 16:14] peetucket commented on #2911
I installed prettier in vs-code (my preferred code editor) and gave it a test drive.   I also already have the eslint extension installed in vs-code.   Some comments:

- we currently use eslint as part of the build process, and the default preferred styles of eslint vs prettier are different in places, so if you re-format a file with prettier, you are likely to get eslint complaints (which will sh

[2021-09-15 16:17] peetucket commented on #2911
I see perhaps some of my assumptions about prettier vs elint may not be accurate based on work here?  https://github.com/LD4P/sinopia_api/pull/169/commits/00cd714ec4be8eb2178a565dd424027cfc397e38

[2021-09-15 17:29] #2924 closed

[2021-09-15 18:26] justinlittman commented on #2930
NOTE: We are no longer supporting a "public" group. That means that the public radio is no longer necessary -- please ignore in above.

[2021-09-16 11:28] justinlittman opened #3003 "Notify user when member of no groups"
* To indicate that Editor is read-only.
* To provide directions on how to get added to a group.

[2021-09-16 12:59] justinlittman commented on #2931
When the user clicks the Permissions link and the user is a member of the owner group, the group choice modal is opened and the user can change groups and save the resource.

When the user is not a member of the owner group, a read-only modal is opened.
![image](https://user-images.githubusercontent.com/588335/133616373-9248074a-ce04-47d0-b111-aea7724a77b0.png)

[2021-09-16 12:59] justinlittman commented on #2931
Note: Change text to "Who else can edit?"

[2021-09-16 20:13] justinlittman opened #3005 "Most recently used templates toggle broken"
![image](https://user-images.githubusercontent.com/588335/133679521-cba5115e-744f-4977-af86-a6b8e6e4c032.png)

Probably Bootstrap 5 related.

[2021-09-16 22:52] #3005 closed

[2021-09-16 23:02] peetucket commented on #2929
Current hard-coded config that contains the groups that need to be replaced with results from `/groups` API call: https://github.com/LD4P/sinopia_editor/blob/main/src/Config.js#L134-L160

[2021-09-17 11:12] justinlittman opened #3009 "use prettier in Sinopia Editor"
Following pattern from Sinopia API.

[2021-09-17 15:08] #2911 closed

[2021-09-17 15:15] michelleif opened #3011 "literal input component UX improvement"
make changes to current literal input component, see Astrid's design below.

here is a list of the changes that are significant, when comparing to current look and behavior:

1. when user enters data, data will remain in input box (currently it gets "entered" and displayed below box) QUESTION: when does the data become part of RDF preview? when you hit enter? tab out of box? ANSWER: When you move

[2021-09-17 15:16] michelleif opened #3012 "lookup component UX improvement"
make changes to current **lookup** input component, see Astrid's design below.

here is a list of the changes that are significant, when comparing to current look and behavior:
1. Change "Lookup" button to magnifying glass icon button
@astridu QUESTION: we currently display the instruction "Enter lookup query". Now we just have the magnifying glass icon as clue that this is a lookup. Do we need th

[2021-09-17 15:16] michelleif opened #3013 "URI input component UX improvement"
make changes to current **URI** input component, see Astrid's design below.

here is a list of the changes that are significant, when comparing to current look and behavior:

1. make all the changes noted in improvements to literal input (see #3011)
2. add a companion text entry field for Label, so each "row" is now a box for "URI" and a box for "Label"
3. if field is required, then require both t

[2021-09-17 15:43] michelleif commented on #3003
I plan to make all current users part of a group so this is only a concern for new users. Can we handle it via messaging when user signs up for account and by text in help and on homepage? We are already hiding edit button per #2932.

[2021-09-17 15:48] astridu commented on #3011
![image](https://user-images.githubusercontent.com/42216982/133817152-21e3429b-3104-4337-a1a4-b9c81be24764.png)

[2021-09-17 15:50] astridu commented on #3012
![image](https://user-images.githubusercontent.com/42216982/133817293-5a09fa82-68d8-4870-bacf-0eb107853d6e.png)
![image](https://user-images.githubusercontent.com/42216982/133817353-8b0454b4-c372-43ee-9250-21d32918e7fb.png)
![image](https://user-images.githubusercontent.com/42216982/133817408-6c0deb5d-53a6-441b-a6f0-7e0d7a41d7ad.png)

[2021-09-17 15:56] astridu commented on #3013
![image](https://user-images.githubusercontent.com/42216982/133818264-1de252c1-8e9c-4795-8a19-61bd9cb100fe.png)

[2021-09-17 16:22] astridu commented on #2936
Stretch goal:
![image](https://user-images.githubusercontent.com/42216982/133820824-979ff6e5-402e-4259-a71e-27ab9abcd051.png)

Adding the button into the current visual design:
![image](https://user-images.githubusercontent.com/42216982/133821585-520c166a-b800-4da5-82ac-9368f15fa38c.png)

[2021-09-17 16:52] #2930 closed

[2021-09-17 16:52] #2953 closed

[2021-09-17 17:51] NancyL commented on #2936
looks good!

[2021-09-17 18:47] ndushay commented on #2947
eslint is now at 7.32.0 (stable) and 8.0.0 beta -- do we want to be on 6.7.2?

[2021-09-17 19:36] justinlittman commented on #3011
Implementation notes:
* The redux state should not get updated on every change to the input box. Rather:
  * The value should be cached in local state until blur, in which case it should be updated in the Redux state.
  * The Save button should be enabled as soon as a change is made (regardless of blur)
* Check before deviating from standard BS5 components.

[2021-09-17 20:03] #2947 closed

[2021-09-17 20:52] michelleif commented on #3011
when collapsed:
![collapse_literal.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/b5a3a3f9-2905-4d41-842b-6f19c8555f23)

[2021-09-17 21:08] justinlittman commented on #2936
Notes for developer:
* Please place to the left of MARC so that MARC can drop left.
* If the user is a member of more than one group that supports ILS transfer, the button should be a dropdown containing the names of the groups. Otherwise, it should be a plain button.

[2021-09-17 21:13] justinlittman opened #3015 "Add MARC button to Preview"
Add:
![image](https://user-images.githubusercontent.com/588335/133854098-7b593ae0-4c31-4753-8e10-6cbad5af8b3a.png)

to:
![image](https://user-images.githubusercontent.com/588335/133854238-247c4bd0-d767-436e-b2a2-60c22a859e7b.png)

[2021-09-17 21:14] justinlittman commented on #3015
Since many users will only be able to preview resources, trying to better align the functionality between preview and edit.

[2021-09-17 21:17] justinlittman opened #3016 "Switch MARC Button style"
![image](https://user-images.githubusercontent.com/588335/133854597-783d8203-29a9-4025-9b5c-c342a61e8014.png)

[2021-09-17 21:22] justinlittman opened #3017 "Add RDF preview to Resource preview"
Currently, RDF preview is only available from the Editor. However, with new permissions model, not all users will able to access Editor for all resources.

To align the functionality between Resource preview, RDF preview should be available to a user.

Design considerations:
* RDF preview and Resource previews are both modals; however, only one can be open at a time.

[2021-09-17 21:45] justinlittman commented on #2897
This is more critical now that only users that can edit a resource can open preview the RDF.

Note that both the resource preview and the RDF preview are modals, so this needs to be taken into consideration in the design.

[2021-09-17 21:45] justinlittman commented on #3017
closing in favor of #2897

[2021-09-18 00:09] michelleif commented on #3011
note: we are NOT changing the current behavior of:
-required fields get an asterisk and must be completed before Saving
-fields with default value are pre-filled but editable
-fields with a remark or remark URI get tooltip or help link respectively

[2021-09-19 07:04] michelleif commented on #3012
note: we are NOT changing the current behavior of:
-after user enters text to do a lookup, we show "Add new literal: x" (where x is user's search term) option; @justinlittman if user selects "Add new literal: x" then do we display a URI and label row with only the label filled in?
-required fields get an asterisk and must be completed before Saving
-fields with default value are pre-filled but edi

[2021-09-19 07:05] michelleif commented on #2903
closing this as #3011 makes it irrelevant

[2021-09-19 07:05] #2903 closed

[2021-09-19 07:06] michelleif commented on #2781
closing this as #3011 will have improved design with no "un-entered" literals

[2021-09-19 07:06] #2781 closed

[2021-09-19 07:08] michelleif commented on #1257
new designs in #3011, #3012, #3013 remove "Edit" button and just display the selected language, which can be clicked on to change it, so closing this

[2021-09-19 07:08] #1257 closed

[2021-09-19 07:13] michelleif commented on #2905
this will be covered by #3013, so closing

[2021-09-19 07:13] #2905 closed

[2021-09-19 07:13] michelleif commented on #2904
this will be covered by #3012, so closing

[2021-09-19 07:13] #2904 closed

[2021-09-19 07:18] michelleif commented on #3011
QUESTION @astridu @justinlittman: what is desired behavior of  trash can to right of field name (the one that gets added once more than one row is filled in). in #5 in original description of ticket I said it  should remove all entered values, but shouldn't it leave one blank row? otherwise user has to re-add a row (see #2845)...need to update lookup (#3012) and URI component (#3013) tickets to ex

[2021-09-20 11:30] justinlittman commented on #3013
Implementation note: This should follow the same pattern as the InputLiteral component.

[2021-09-20 11:33] justinlittman commented on #3012
Implementation note: This should follow the patterns of the InputLiteral and InputURI component.

[2021-09-20 16:37] #2887 closed

[2021-09-20 16:38] michelleif commented on #2887
could not come to agreement on how to pursue, closing

[2021-09-20 16:53] #1663 closed

[2021-09-20 16:53] michelleif commented on #1663
will be handled by #3012

[2021-09-20 16:53] michelleif commented on #2843
will be handled by #3012 and #3013

[2021-09-20 16:53] #2843 closed

[2021-09-20 17:04] #2932 closed

[2021-09-20 17:48] ndushay opened #3023 "Remove last references to Trellis"
see __tests__/utilities/Utilities.test.js

(do a search in the repo for it;  don't take my word this is the last one)

[2021-09-20 20:21] justinlittman commented on #2933
The approach that we will take is to offer enhanced functionality for any resource that is created that has an rdfs:label property. It will be up to template creators to add the rdfs:label property.

For a resource that has a label:
* The label will be displayed in the search results.
* The label will be displayed in the resource tab.
* The label will be displayed on the editor page.

[2021-09-20 20:32] michelleif commented on #2869
will be handled by #2933 so closing

[2021-09-20 21:31] justinlittman opened #3025 "resource subject: Add label to state"
Add a "label" attribute to the resource subject (see the README for explanation of the resource subject). The value of the label should be `<rdfs:label property of the resource> (<resource template label>)`. If the resource does not have an rdfs:label, use "Unlabeled".

The label should be updated whenever the rdfs:label is updated.

[2021-09-20 21:34] justinlittman opened #3026 "Display resource label on editor tabs"
Currently, the template label for a resource is displayed on the editor tabs. It should be replaced with the resource label (see #3025).

![image](https://user-images.githubusercontent.com/588335/134078929-3b27a6cc-024b-44aa-a786-79092568f624.png)

[2021-09-20 21:36] justinlittman opened #3027 "Display resource label on editor"
Currently, the template label for a resource is displayed on the editor. It should be replaced with the resource label (see #3025).

![image](https://user-images.githubusercontent.com/588335/134079115-b9a05307-1224-4c42-ac50-2aa28200d97d.png)

[2021-09-21 15:58] michelleif opened #3029 "add column for Group on Resource Templates and Dashboard tabs"
on Search and on Dashboard (Recent Resources section) we show the Group that owns a Resource:
![Screen Shot 2021-09-21 at 8.54.39 AM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/7ff07e2e-bf5f-47cd-a640-38c87ff13400)

add similar Group column to Resource Templates tab and to Dashboard (Recent Templates section) to display group that owns the template

This will be useful for u

[2021-09-21 16:06] #2931 closed

[2021-09-21 21:39] peetucket commented on #3016
What style should this button be switched to?

[2021-09-21 21:56] #2929 closed

[2021-09-21 22:07] justinlittman commented on #3016
The style that the red arrow is pointing to. You should find other example of this in the app.

[2021-09-21 22:30] #3009 closed

[2021-09-22 17:03] justinlittman opened #3033 "Refactor validation"
To perform validation in the input component and use standard HTML5 Validation instead of the current insane validation done in reducers.

[2021-09-22 17:38] #3017 closed

[2021-09-22 17:42] astridu commented on #3003
@michelleif Is this the right text?
 ![image.png](https://images.zenhubusercontent.com/5e13b724f29cd505881d7257/2a19d9ed-e625-4ebd-ac39-55e1518c630b)

[2021-09-22 17:46] NancyL commented on #3003
"the Sinopia adminstrator"? The current text sounds a little like everyone has their own administrators!

[2021-09-22 19:38] NancyL commented on #3003
sounds good

[2021-09-22 22:36] #3029 closed

[2021-09-22 22:39] #3016 closed

[2021-09-23 17:51] astridu commented on #2897
Could we do something like this where we have 2 tabs in the modal. One shows the resource and the other the RDF preview?
![image](https://user-images.githubusercontent.com/42216982/134558411-2cfe360b-9de6-4670-94a9-fb2cb85ca4c9.png)
![image](https://user-images.githubusercontent.com/42216982/134558502-54210997-019d-44a9-b63e-0acf364bdd3a.png)

[2021-09-23 18:03] michelleif opened #3036 "when setting language for default value in template creation, radio button is not getting highlighted"
on DEV, using template completely:new

field Example 1 has a default value, but no language specified

I edit the template to specify the language of the default value, and in the language selection box, the top radio button for "Select language" never gets highlighted when I search for and then select a language.

![Screen Shot 2021-09-23 at 11.00.02 AM.png](https://images.zenhubusercontent.com/5

[2021-09-23 18:05] michelleif opened #3037 "unable to save changes to template when adding default language specification"
on DEV, using template completely:new

field Example 1 has a default value, but no language specified

I edit the template to specify the language of the default value, and successfully choose a language:
![Screen Shot 2021-09-23 at 11.00.18 AM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/06e04c33-b125-4b59-954a-e01ae4645543)

but the Save button is still grayed out so I can'

[2021-09-23 18:09] michelleif opened #3038 "recent templates on dashboard and Resource Templates tab not reflecting edit permissions"
I'm on DEV, I have permission to edit the completely:new template, as shown here on Resource Templates tab:
![Screen Shot 2021-09-23 at 11.07.38 AM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/752abec8-3d35-4883-9ee7-a127ca0e4346)

but in the "Recently used templates" section, the same template shows as not editable (no pencil)
![Screen Shot 2021-09-23 at 11.09.05 AM.png](htt

[2021-09-23 18:24] justinlittman commented on #3038
I suspect this is because when we add to history, we are not including group. Maybe here: https://github.com/LD4P/sinopia_editor/blob/main/src/reducers/history.js#L11-L19

[2021-09-23 18:25] michelleif commented on #2897
why not just one preview and then under Format you choose table, n-triples, json, "summary" (or whatever we call the human-readable one (and add #2178)?

[2021-09-23 18:32] astridu commented on #2897
Like this?
![image](https://user-images.githubusercontent.com/42216982/134563793-cd4f44c4-8138-4556-93b5-dde834d09a24.png)

[2021-09-23 20:03] justinlittman commented on #2897
So those are tabs on the preview modal?

[2021-09-23 20:04] astridu commented on #2897
I was trying to follow the bootstrap style. Is that not correct? Any tab style will do.

[2021-09-23 20:11] michelleif commented on #2897
no, i'm thinking no tabs, it's just a window, "Preview", and once the window is open, you choose which style preview you want. in my mind, previewing the RDF data is a preview just like previewing the data in the form. why do we need to distinguish between the "View Resource" and "Preview"

[2021-09-23 20:42] michelleif opened #3039 "allow user to re-order values in fields of type literal, URI , and lookup with ordered attribute"
currently any kind of field can be configured with the "ordered" attribute, which produces RDF that captures the order of multiple entered values

however in the input components, it is not possible to **re-order** multiple values in fields of type literal, uri, or lookup; user must delete a "row" and re-add to change the order. (it **is** possible to re-order a repeatable nested resource).

for l

[2021-09-23 20:58] astridu commented on #2897
Like this? And then the pull down determines what you see in the modal?
![image](https://user-images.githubusercontent.com/42216982/134582995-773d7069-5b7f-4450-a86b-5dabebb77bca.png)

[2021-09-23 21:19] michelleif commented on #2897
Yes!!!!!

[2021-09-23 21:51] justinlittman commented on #2897
So what is the not-RDF view called?

[2021-09-23 21:55] michelleif opened #3040 ""request account" and "forgot password" flow is not smooth"
if you click "request account" or "forgot password" and fill out the form, then you have to confirm by email (or enter emailed code), which works fine, and then if you stay on the window you used to request the account or the new password, you get:
![Screen Shot 2021-09-23 at 2.50.47 PM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/c665d5e0-c65a-4457-9a44-62c20dc5370d)
then ch

[2021-09-23 21:58] michelleif commented on #2897
what is that view for? the view in #2178 is requested also which is called Summary. do we need Summary and current-not-RDF? (I know, Summary doesn't exist yet)

[2021-09-23 22:04] justinlittman commented on #2897
You go with the summary you have, not the summary you wish you had ...

FYI -- As I replace the input components, I'm also changing the read-only display to just be text (not using disabled inputs like it currently is).

[2021-09-23 23:30] peetucket commented on #3037
Likely need to do something similar to what was done here: https://github.com/LD4P/sinopia_editor/pull/2991/files for this ticket: https://github.com/LD4P/sinopia_editor/issues/2784

[2021-09-23 23:38] ndushay commented on #3036
I spun up Sinopia locally, on my laptop and it's okay.  Will check dev and stage.

[2021-09-23 23:57] ndushay commented on #3036
On DEV:
on a new template, I've entered nothing else, but I've added a literal property and am about to click on the "English" button:

![image](https://user-images.githubusercontent.com/96775/134598489-7defb139-1fd7-4a9e-8e19-b27087118e9b.png)

and I click it and it is already selected:

![image](https://user-images.githubusercontent.com/96775/134598595-5063fb6a-e979-47f7-8f36-f25df5ad3c15.png)

[2021-09-24 00:00] ndushay commented on #3036
on stage on a NEW template:

![image](https://user-images.githubusercontent.com/96775/134598792-fa0e5400-f84f-40b4-aca2-f62ac95f4f46.png)

clicking the language button thing, it is already selected:

![image](https://user-images.githubusercontent.com/96775/134598768-52080392-9dd4-41b8-924f-2a93a4088c50.png)

and after entering a value for language, it is still selected:

![image](https://user-imag

[2021-09-24 00:03] ndushay commented on #3036
@michelleif if it's still true for you, it would be good to know what you're doing on the template before you get to this point.

[2021-09-24 00:27] michelleif commented on #3036
I am returning to edit a template that was already created and saved with a default value that never had a language specified.
on DEV, use template completely:new
go to the first field that has default `mydefaultvalue` but no language

[2021-09-24 11:28] #3015 closed

[2021-09-24 11:56] justinlittman commented on #3033
Determined it was problematic to fix HTML5 validation and React.

[2021-09-24 11:56] #3033 closed

[2021-09-24 17:44] #3003 closed

[2021-09-24 22:27] #3037 closed

[2021-09-25 11:56] justinlittman opened #3045 "Avoid useSelector unnecessary rerenders"
We currently trigger a huge number of unnecessary rerenders due to our use mis-use of useSelector.

See https://react-redux.js.org/api/hooks#useselector.
Also, https://blog.jjohns.com/react/redux/performance/2020/09/14/avoiding-useselector-unnecessary-rerenders.html
This will definitely require the use of re-select.

[2021-09-25 11:59] justinlittman commented on #3045
For example, in experimentation, removing the `|| []` in https://github.com/LD4P/sinopia_editor/blob/main/src/selectors/errors.js#L24 reduced rerenders because it wasn't returning a new array on every call.

I would start with ResourceComponent and determine what is triggering rerender.

[2021-09-25 12:01] justinlittman commented on #3045
I'm primarily concerned with rerenders that occur when the resource is initially loading in the editor.

[2021-09-26 16:28] michelleif opened #3046 "do not display fieldname in text entry boxes"
per new designs in #3011, #3012, #3013, do not display the field name in the text entry boxes anymore

per @justinlittman this will break lots of tests that rely on this fieldname

but the fieldname in the box is redundant; it looks much cleaner without it; and for fieldnames that wrap, the text entry box becomes unnecessarily deep

[2021-09-26 16:38] michelleif commented on #2930
I like the bonus of the "search" on the "Who else can edit" part, instead of just selecting from dropdown. Nice!!

[2021-09-26 16:54] michelleif opened #3047 ""Who else can edit" is not showing all the groups"
on DEV, I filled in a template and saved it.

Under "Who else can edit", the `LD4P` group is missing from the list of choices ![Screen Shot 2021-09-26 at 9.45.21 AM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/4d79a3d4-55e2-490d-aa67-c0b65455ae2d)

even though that group exists in Cognito on DEV:
![Screen Shot 2021-09-26 at 9.47.06 AM.png](https://images.zenhubusercontent.com

[2021-09-26 17:16] michelleif opened #3048 "some resources show up as owned by group "Unknown" even though they seem to be owned by a valid group"
on DEV, search for * and "Filter by group"

One group is "Unknown"
![Screen Shot 2021-09-26 at 10.12.29 AM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/7c793b7d-7f0a-47a8-a04e-18e267318c6a)

(But in the group column, some of those resources do show an owning group, others show Unknown)

In the RDF for those, there does seem to be a group defined, and it's a group that exists

[2021-09-26 17:18] michelleif commented on #3047
p.s. after i made this ticket, i added a bunch more groups to DEV in Cognito, so the list of possible edit groups will not look the same as in the above screenshots...however the ld4p group still refuses to show up

[2021-09-26 17:23] michelleif commented on #3047
I also tried deleting and recreating the group in Cognito. Same problem.

[2021-09-26 21:07] michelleif commented on #3036
interestingly this is also happening in the newly improved URI input which now includes a label:
if I don't fill in the label, but I try to specify I language, I can choose and "submit" the language, but the radio button never gets highlighted.
you can try this in DEV template test:resource:noRT
![Screen Shot 2021-09-26 at 2.06.24 PM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e

[2021-09-27 11:08] justinlittman commented on #3047
In the previous codebase, `ld4p` was excluded from the list that appeared when saving a resource; that exclusion was retained in the current codebase.

Sounds like this can now be removed: https://github.com/LD4P/sinopia_editor/blob/main/src/components/editor/GroupChoiceModal.jsx#L25

[2021-09-27 15:01] #3048 closed

[2021-09-27 15:21] michelleif opened #3052 "on Resource Templates tab, allow find by Group"
Resource Templates tab has several ways to find templates, but not by group
![Screen Shot 2021-09-27 at 8.20.43 AM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/7d0b5163-b6df-42b0-af00-b18fec81e7ef)

add group to the ways you can find

[2021-09-27 15:52] #3047 closed

[2021-09-27 15:53] #3038 closed

[2021-09-27 17:12] #3011 closed

[2021-09-27 19:15] justinlittman opened #3054 "In Preview, don't display empty properties"
![image](https://user-images.githubusercontent.com/588335/134970641-ee22c774-dc27-43dd-bc61-e707d7085735.png)

[2021-09-27 20:35] michelleif commented on #2882
since we refer to https://github.com/LD4P/rdf2marc/blob/master/lib/rdf2marc/model2marc/record.rb in the documentation, the documentation doesn't need to be updated

[2021-09-27 20:36] michelleif commented on #2189
if we do this, then the user in no group will never see their warning message about not being in a group

[2021-09-27 20:41] michelleif commented on #2897
The current "View Resource" style preview avail now only from Search would be called "Form view".

So the dropdown choices should be:
- Form view
- Table (RDF)
- N-triples
- Turtle
- JSON-LD

[2021-09-27 20:45] michelleif commented on #2178
this may not be necessary with the work @justinlittman is currently doing to improve inputs, and changing existing "View Resource" to show read-only view

[2021-09-27 20:57] #3054 closed

[2021-09-27 21:47] NancyL opened #3056 "Add QA vocabularies for script (and other recently available QA vocabs)"
According to the QA people, a vocabulary for bf:script (I think RDA, but id.loc.gov vocab would be better if available) and for cultural heritage organizations are now available. We have been waiting for these for a long time and really need them, especially the cultural heritage organizations, for which we currently have to manually enter a URI and which does not convert properly to MARC

There a

[2021-09-27 23:25] NancyL opened #3057 "Right to left script is displayed left to right in MARC conversion display"
**Type of change**
A defect I think--problem with html coding?

**Example RDF records**
Please provide URIs or RDF of the `bf:Instance`. If providing RDF, Turtle is preferred.
https://api.stage.sinopia.io/resource/85bcf909-f9cc-42bc-9fd4-0292367eb1b2

**Resource template**
Which resource template does this apply to? In which Sinopia environment (development, stage, production)?
stage pcc:bf2:Monog

[2021-09-28 10:54] justinlittman commented on #3057
See https://www.w3.org/International/articles/inline-bidi-markup/

[2021-09-28 13:35] #3013 closed

[2021-09-28 15:00] Magda-Gad commented on #3057
I have downloaded the record in MARCEdit and Notepad and the text looks fine and in the correct order as below:
![image](https://user-images.githubusercontent.com/62903162/135109738-e3badca2-cbf1-4890-8fbc-dea94d904be1.png)
This problem just appears in the display of MARC record in the MARC conversion show box in Sinopia as below:
![image](https://user-images.githubusercontent.com/62903162/1351115

[2021-09-28 15:53] justinlittman commented on #3056
@elrayle Do you know which authorities these are?

[2021-09-28 16:10] justinlittman opened #3058 "Get label language from QA"
We now support recording the language for a URI label. When the URI and label is retrieved from QA, the label language should be provided by QA. Currently, QA does not provide the label languge as an attribute (or when it does, it is included in the label string, e.g., `Television cooking shows@en`).

[2021-09-28 20:27] SSadler17 opened #3060 "ORCID"
Hello,
Sinopia may have plans for these two points already, but I'll add them here just in case.

1. **Authenticated ORCID iD** - We strongly encourage authenticating ORCID iDs to ensure the correct iD has been assigned to the author and work. Unauthenticated display guidelines are below.
https://info.orcid.org/documentation/api-tutorials/api-tutorial-get-and-authenticated-orcid-id/

2. **Writing

[2021-09-28 21:44] justinlittman opened #3062 "List component UX improvement"
Like the others, but for lists ...

[2021-09-29 00:04] #3025 closed

[2021-09-29 16:50] michelleif commented on #2687
this is done! _example_
![Screen Shot 2021-09-29 at 9.49.46 AM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/f05cf4de-4998-4862-b16f-f86e12182a41)

[2021-09-29 16:50] #2687 closed

[2021-09-29 18:09] michelleif opened #3064 "on Resource Templates tab, allow find by Group"
Resource Templates tab has several ways to find templates, but not by group
![Screen Shot 2021-09-27 at 8.20.43 AM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/7d0b5163-b6df-42b0-af00-b18fec81e7ef)

add group to the ways you can find

[2021-09-29 18:09] jcoyne commented on #3064
We need to make the change in the search function so that it changes which fields we search.

[2021-09-29 20:03] michelleif commented on #3056
LC's script vocabulary is ready; @sfolsom is adding mscript to Sinopia's lookup config file

per @eichmann the cultural heritage org list is in process and will be ready in about 2 weeks

@NancyL the QA team has also released the following LC vocabs that are not in Sinopia, do you want any of them made usable in Sinopia?
[code]

[2021-09-29 20:33] #3012 closed

[2021-09-29 22:05] #3062 closed

[2021-09-30 00:44] #3057 closed

[2021-09-30 11:16] justinlittman commented on #2990
Currently, the Editor supports:
* For the URL `/editor/<template id>`
  * When a URL matching the pattern is entered in the browser, the editor is opened to a blank resource editing that template.
  * When a user opens an a new or existing resource in the editor, the URL is changed to match the pattern for the resource's template.
  * As the user switches between resources in the editor, the URL i

[2021-09-30 17:51] michelleif opened #3069 "Handle resources with no data when doing "View Resource""
post #3054, if there's a resource with no data in it (why? i don't know, because.we.like.edge.cases) then Sinopia says 'An error occured' when a "View Resource" preview is requested.

here's an example resource:
https://api.development.sinopia.io/resource/993613eb-4563-4113-a268-4479ee48e96b

i opened it and saved it without entering data (or it had data, and i deleted the data)
![Screen Shot 2021

[2021-09-30 18:07] michelleif opened #3070 "implement lookup fields that don't allow manual entry of URI"
we allow manual entry of URI/label pair in lookup fields (including dropdown lists)

this is great for flexibility but kind of defeats the purpose of having an application profile where you specify: for field x, the value has to come from authority y

even in lookups that are handled as dropdown lists, the user can pick a value from the dropdown, then delete the row, and wind up with an empty URI/

[2021-09-30 19:37] michelleif commented on #2845
putting this on ice for now

[2021-09-30 19:37] #2906 closed

[2021-10-01 03:22] astridu opened #3073 "Accessibility: language not set"
Language of page has not been set
 3.1.1 Language of Page
The webpage is missing a definition of the natural language.

Provide a 'lang' attribute for HTML documents or an xml:lang attribute for xhtml documents to indicate the natural language of the page.

Use one of the following techniques from WCAG 2:

H57 Using language attributes on the html element
https://www.w3.org/TR/WCAG20-TECHS/H57
The

[2021-10-01 03:26] astridu opened #3074 "Accessibility: WAI-ARIA image is missing alternative text"
I think this is a non-issue because the font awesome images are handled in some other way, but just wanted to record it just in case.

Non-text Content
The WAI-ARIA image, created with role="img", does not have an accessible name.

If the image is informative or functional, use either the WAI-ARIA attribute 'aria-label' or 'aria-labelledby' to create an alternative text for the image.

If the imag

[2021-10-01 03:37] astridu opened #3075 "Accessibility: Field label changes for Load RDF page"
First field label should read:
RDF (Accepts JSON-LD, Turtle, TriG, N-Triples, N-Quads, and Notation3 (N3))

Second field label should read:
Base URI (Omit brackets. If base URI is <>, leave blank.)

Text above button:
Clicking "Submit" will create a new resource that can be saved in Sinopia.

[2021-10-01 03:50] astridu opened #3076 "Accessibility: Color contrast in section header"
Make the text in these section headers black.

![image](https://user-images.githubusercontent.com/42216982/135562416-f24bab13-84a1-4d59-a8da-e6500a599f1c.png)

[2021-10-01 04:11] astridu opened #3077 "Visual Design: Logo"
Change logo to say "SINOPIA". It should continue to include the environment (for dev and stage).
Link logo to Sinopia homepage.

[2021-10-01 04:19] astridu opened #3078 "Visual Design: nav in top right corner"
Nav in top right corner (linked to the same features):

username   •    Help    •     Logout

![image](https://user-images.githubusercontent.com/42216982/135564637-63c3f2fa-57a5-44c0-af97-7583fdc1df40.png)

[2021-10-01 04:19] astridu commented on #3077
![image](https://user-images.githubusercontent.com/42216982/135564654-85146465-3c43-41ef-bb38-74780f078911.png)

[2021-10-01 04:24] astridu opened #3079 "Visual design: Page navigation"
- Change page navigation to be in a white bar.
- Navigation links: Dashboard, Editor, Resource Templates, Actions (drops down to menu with Load RDF and Export links)
- Page user is on is shown in bold with an underline under it.

![image](https://user-images.githubusercontent.com/42216982/135564993-8ca9e84d-b79b-4840-9509-f05514b0647f.png)

Note that this ticket does NOT include adding search to t

[2021-10-01 04:34] astridu opened #3080 "Visual design: Search in top nav"
* Place the "Search" box in the top nav.
* The Search All is a dropdown that lists all the sources you can search. Hitting enter or clicking the magnifying class starts the search. (Note this is a search of resources, not templates; template search will remain unchanged.)
* The existing help text will be moved to a tooltip.
* The existing clear search / trash can will not be present.
* Search resu

[2021-10-01 04:40] astridu opened #3081 "Visual design: page colors"
- Page bgcolor = F0EAE1
- Section header bgcolor = CFC2A8
- Collapsible sections bgcolor = E8ECF4, border color = 989898

![image](https://user-images.githubusercontent.com/42216982/135566169-abe2c5ea-0162-4c07-afac-4b5817e93e25.png)

[2021-10-01 04:57] astridu opened #3082 "Visual design: Resource title, controls, unused triples (top quarter of page)"
- Instead of template used as the title, indicate whether it is a Work, Instance, Item and title of work.
- Copy and preview icon next to title. (Can we use an image for the preview icon?)
- Request MARC • Export to catalog • Permissions: links
- Secondary button: Close
- Primary button: Save
- Display URI with 'copy URI' small secondary button
- Unused triples are displayed in a section that can

[2021-10-01 05:09] astridu opened #3083 "Visual design: left nav"
- Expand/collapse control on the left
- Dot on the right indicates whether content has been entered for that field
- Expanded properties and all properties nested under it are black. If user clicks 'Save' and required fields are not entered, they will display in red to indicate they need to be filled in.
- Collapsed properties are in blue.
- Is there any opportunity to save what the user has expan

[2021-10-01 05:14] astridu commented on #3081
- Property values: Primary property is on white background, and then secondary property is on beige color = F0EAE1, and continue in that pattern white/beige/white/beige.
- border of each property level is 989898
![image](https://user-images.githubusercontent.com/42216982/135568817-69f93d42-4681-46d4-bd97-0da6db440bc9.png)

[2021-10-01 11:06] #3027 closed

[2021-10-01 11:14] justinlittman commented on #2848
Dupe of #3076

[2021-10-01 11:14] #2848 closed

[2021-10-01 11:15] justinlittman commented on #2492
There is no longer a lookup modal.

[2021-10-01 11:15] #2492 closed

[2021-10-01 11:16] justinlittman commented on #2513
They do now.

![image](https://user-images.githubusercontent.com/588335/135611198-8b5f4642-fcc1-47bc-b32e-664172686fe2.png)

[2021-10-01 11:16] #2513 closed

[2021-10-01 11:17] justinlittman commented on #2165
@astridu has performed an accessibility audit and ticketed separately, so closing this ticket.

[2021-10-01 11:17] #2165 closed

[2021-10-01 11:18] justinlittman commented on #2449
This is no longer the case.

[2021-10-01 11:18] #2449 closed

[2021-10-01 11:18] justinlittman commented on #2451
Diacritics is no longer a modal.

[2021-10-01 11:18] #2451 closed

[2021-10-01 11:19] justinlittman commented on #2455
Diacritics is no longer a modal.

[2021-10-01 11:19] #2455 closed

[2021-10-01 11:21] justinlittman commented on #2486
There is no longer an edit button.

[2021-10-01 11:21] #2486 closed

[2021-10-01 11:24] justinlittman commented on #2450
No longer a modal.

[2021-10-01 11:24] #2450 closed

[2021-10-01 11:24] justinlittman commented on #2493
No longer a modal.

[2021-10-01 11:24] #2493 closed

[2021-10-01 12:40] justinlittman commented on #2454
This is no longer a modal.

[2021-10-01 12:40] #2454 closed

[2021-10-01 12:41] justinlittman commented on #2477
@astridu Can you please determine if this should be fixed?

[2021-10-01 12:44] justinlittman commented on #3046
@astridu Do you have thoughts on this?

[2021-10-01 12:48] justinlittman commented on #2189
Correct. Can we close this?

[2021-10-01 12:52] justinlittman opened #3084 "Retain left nav state for resources"
Per @astridu:

[2021-10-01 12:53] justinlittman commented on #3084
Perhaps Local Storage is good enough?

[2021-10-01 13:03] justinlittman opened #3085 "Visual design: RDF preview"
- Unused triples are displayed in a section that can be dismissed.
- For table view, display in a table with columns and rows divided by horizontal rule.

![image](https://user-images.githubusercontent.com/588335/135624110-3fea8d2e-e93c-4dc0-90f9-ff2433136d05.png)

[2021-10-01 13:04] justinlittman commented on #3085
@astridu Once dismissed, is there any way to re-open it?

[2021-10-01 13:07] justinlittman commented on #3080
@astridu How does the user return to search results?

[2021-10-01 13:09] justinlittman commented on #3079
@astridu What should the nav bar look like when the user has selected Load RDF or Export?

[2021-10-01 13:18] justinlittman commented on #3078
![image](https://user-images.githubusercontent.com/588335/135626558-91e8f966-59e0-4430-ac07-f875264f204a.png)

[2021-10-01 16:30] astridu commented on #2853
Ignore previous mockup. Here is the one I tested with several catalogers.
- Create resource: Primary button with file-earmark-plus.svg (bootstrap icon) in white, hover = "Create resource"
- Edit template: font awesome pencil, hover = "Edit template"
- Copy template: font awesome copy, hover = "Copy template"

![image](https://user-images.githubusercontent.com/42216982/135655815-1aecff58-b091-4246-

[2021-10-01 16:56] jcoyne commented on #3064
What is the user interface for finding by group?

[2021-10-01 16:57] michelleif commented on #3064
on Resource Templates tab, we just have that single search box and it searches (currently) ID, remark, label, etc. This ticket is just to include "group" in what is searched. no separate UX at this time.

[2021-10-01 17:14] justinlittman commented on #2769
The context should be in the same context format as other lookups, e.g.:
![image](https://user-images.githubusercontent.com/588335/135660689-9d5144eb-55cd-4f76-8203-f8c077a0cc80.png)

The fields should be:
* URI
* Class
* Group
* Modified
(These are the same fields as search results.)

[2021-10-01 17:18] justinlittman commented on #2853
Developer note: This uses a Bootstrap icon -- we have not previously use a BS icon.

[2021-10-01 17:25] #3023 closed

[2021-10-01 17:28] #3026 closed

[2021-10-01 17:38] astridu commented on #2853
Link to svg: https://drive.google.com/file/d/1Mltf-JGPY0Df4brEfx4LiSyYiOk8l6vd/view?usp=sharing

[2021-10-01 17:53] NancyL commented on #2853
I'm having problems opening the file--what is the best app to look at it in?

[2021-10-01 18:01] #3069 closed

[2021-10-01 18:11] astridu commented on #2853
The svg is for the developers. It's the image that is in the blue button above. (white file icon with + sign in it)

[2021-10-01 18:54] #3036 closed

[2021-10-01 21:23] michelleif opened #3088 "default labels for URI and lookup fields are not being recognized"
on DEV, using this template: label:default:test

it has a lookup field with a default URI/label pair, and a URI field with a default URI/label pair

the default labels are displayed when I open the template to fill it out:
<img width="1024" alt="Screen Shot 2021-10-01 at 2 18 43 PM" src="https://user-images.githubusercontent.com/23069165/135687455-a8f2cb1c-62cc-461a-a09e-361b1221bcd0.png">

but th

[2021-10-01 21:27] michelleif opened #3089 "save is not enabled for a template into which I haven't entered any data, but which already has default data"
on DEV, with template literal:required

this is a template with one field, a literal, and it has a default

if I open the template and preview, it shows in the RDF preview that the default value is "there"
<img width="799" alt="Screen Shot 2021-10-01 at 2 16 31 PM" src="https://user-images.githubusercontent.com/23069165/135687901-b4818f2b-6120-482c-ba88-274b4129939d.png">

but the Save button is d

[2021-10-02 03:26] astridu commented on #2477
I think this is ok. It just gets confusing with the screen reader if you go from h2 to h4 bc the user might think it skipped a section.

[2021-10-02 03:26] #2477 closed

[2021-10-02 03:28] astridu commented on #3085
I don't think there needs to be bc as soon as user saves this resource, they lose that table.

[2021-10-02 03:48] astridu commented on #3085
I updated the screenshot bc I couldn't find the preview icon I wanted in font awesome or bootstrap so I left the creepy eye.
![image](https://user-images.githubusercontent.com/42216982/135702691-60ba741d-4a4e-40ae-8ee2-ef3162df603a.png)

[2021-10-02 03:50] astridu commented on #3080
They can browser back or search again.

[2021-10-02 03:56] astridu commented on #3079
Can you make the 'Actions' bold and underline? The page title will say which action they are doing.
![image](https://user-images.githubusercontent.com/42216982/135702831-b035e5a1-5930-4016-9978-2685808092ca.png)

[2021-10-02 03:57] #2849 closed

[2021-10-02 03:58] #2173 closed

[2021-10-02 04:04] #2850 closed

[2021-10-02 04:04] #2605 closed

[2021-10-02 04:05] #2609 closed

[2021-10-02 04:07] #2541 closed

[2021-10-04 17:43] michelleif opened #3096 "only add "label" attribute for label that is object of resource"
(this ticket replaces https://github.com/LD4P/sinopia_indexing_pipeline/issues/321 )

#3025 was ```Add a "label" attribute to the resource subject (see the README for explanation of the resource subject). The value of the label should be <rdfs:label property of the resource> (<resource template label>). If the resource does not have an rdfs:label, use "Unlabeled".```

the idea was that this "label

[2021-10-04 18:24] #3073 closed

[2021-10-04 18:58] jcoyne commented on #3081
@astridu our palette for this project seems to keep growing without bounds.  I'm wondering if we need to have both of these gray colors, which are very close:
[code]

[2021-10-04 19:08] jcoyne commented on #3081
@astridu it looks like you want the table background color to be white, right?  If we don't set that it'll end up as `F0EAE1` too.

[2021-10-04 19:11] jcoyne commented on #3081
@astridu Can you explain to me how we get to that multiple field stuff?  That mock up is a little bit too abstract for me to understand how it relates to the application.  Can you show me a comparable view from the development app and annotate which parts should be which colors?

[2021-10-04 19:39] jcoyne commented on #3083
@astridu This is a bit too abstract for me to implement. Can you demonstrate this with real properties that we can see in stage?

[2021-10-04 19:45] jcoyne commented on #3082
Isn't having conditional behavior for `bf:Instance` and `bf:Item` making this a Bibframe specific editor?  I thought this was supposed to be a general purpose RDF editor?

[2021-10-04 19:47] jcoyne commented on #3085
@astridu what if they accidentally hit that close button, but then realize, they want to see that stuff again.  They might not want to save it if they realize they're going to loose data.

[2021-10-04 19:47] michelleif commented on #3082
it's a general purpose RDF editor optimized for BIBFRAME. we could instead show the class of the resource, like below the URI. and then it would be general purpose.

[2021-10-04 19:53] jcoyne commented on #2611
I think it would violate the principal of least surprise if the person unselects the "select all" and all the everything get unselected. I think this is confusing because I would think that not having "select all" would be "select some" rather than "select none". Can you show me a place where this pattern is used elsewhere?

[2021-10-04 20:28] jcoyne commented on #3082
I think if we're doing stuff for bibframe, we should consider what the equivalent experience in RDA would be, right?

[2021-10-04 20:31] jcoyne commented on #3082
A resource may have multiple classes, would we show all of them?

[2021-10-04 20:36] astridu commented on #3081
I am proposing replacing the colors, not adding new ones. However, if you want to stick with 979797, that is fine with me.

[2021-10-04 20:36] astridu commented on #3081
Yes, table bgcolor should be white.

[2021-10-04 20:37] astridu commented on #3081
Yes, let me work on that. Will paste it here when I'm done.

[2021-10-04 20:39] michelleif commented on #3082
generally there's only one statement <resource><http://www.w3.org/1999/02/22-rdf-syntax-ns#type><Class>. the Class defined by the template's Class URI field.

[2021-10-04 20:49] jcoyne commented on #3077
Are we continuing with "Copperplate Gothic Light"?

[2021-10-04 20:50] astridu commented on #3077
Yes

[2021-10-04 21:25] michelleif commented on #2897
would also need to display permissions in the preview, so that users without edit permission can open this preview from search or dashboard, and see permissions along with resource preview, @astridu can you add your design here for the single-line permission display, incorporated into Preview window?

[2021-10-04 21:25] michelleif opened #3099 "permissions link on View Resource doesn't work (but see #2897)"
We added a Permissions link on View Resource (the modal that comes up when you click preview icon from Dashboard or Search) with the idea that even users who can't **edit** the resource could still see "owned by/editable by".

when you click the link (whether you have permission to edit the resource or not), it just closes the modal.

probably instead of fixing this, we should implement #2897, whi

[2021-10-04 21:35] #3076 closed

[2021-10-04 21:42] #2456 closed

[2021-10-04 22:59] ndushay commented on #3078
@astridu is this for the homepage also?

![image](https://user-images.githubusercontent.com/96775/135935662-0413d288-7e04-4e94-ab2e-2c5d4fb548d7.png)

Also, is this spacing ok?

![image](https://user-images.githubusercontent.com/96775/135935691-1b2f077a-7694-4cf9-9217-4a45beca4769.png)

I'm using a `<div>` tag -- should I be doing something else?

[2021-10-04 23:19] astridu commented on #3078
Yes, for homepage too. Spacing looks good. Thanks!

[2021-10-04 23:30] astridu commented on #3081
See this mockup: https://invis.io/6N11MMR09AGB#/459214082_right_Panel
You'll see the current UI. Scroll to the right to see the new proposed color scheme. Let me know if that helps or if you need more.

[2021-10-04 23:47] astridu commented on #3085
Too bad for them. (J/K) We can remove the close functionality (x icon) for now and just leave it as is w/just the visual design update. Thanks!

[2021-10-04 23:57] astridu commented on #2611
On the github issues page, there is a select all/none option. https://github.com/LD4P/sinopia_editor/issues

[2021-10-04 23:58] astridu commented on #2611
If there aren't that many options, then I'm ok w/not having the select all/none option, but if there are potentially more than 10, it would be nice to give users that select all/none option.

[2021-10-05 00:28] astridu commented on #3083
Does this help?

![image](https://user-images.githubusercontent.com/42216982/135941992-873793a7-f12e-4a7f-b3a6-1391b642e34e.png)

[2021-10-05 00:31] astridu opened #3100 "Dot on the right indicates whether content has been entered for that field"
![image](https://user-images.githubusercontent.com/42216982/135942156-50ac7b79-6cca-456b-872a-29c514e5c997.png)

[2021-10-05 03:02] jcoyne commented on #3100
Thanks. This is so much clearer. It looks like this just replaces the check mark (and moves right). Is that correct?

[2021-10-05 03:02] jcoyne commented on #3083
Yes, this is much easier to understand. Thanks for doing the extra work @astridu

[2021-10-05 03:06] jcoyne commented on #3096
@ndushay did you mean to remove your assignment on this one since you put it back to "ready"?

[2021-10-05 03:30] jcoyne commented on #2611
The github widget is not as simple as that. It has three states.  If you select all and then unselect some issues it switches to this state
<img width="331" alt="Screen Shot 2021-10-04 at 10 29 48 PM" src="https://user-images.githubusercontent.com/92044/135955605-853df813-04e3-4093-a91b-64469d8d9ff5.png">
:

[2021-10-05 03:54] jcoyne commented on #3082
So, this is perhaps getting a bit far afield, but have we considered Wikidata expressed as RDF? They would not use `rdfs:type`, but would instead use `wdt:P31`, which I believe is an `rdfs:subClassOf` `rdfs:type`.

See https://www.wikidata.org/wiki/Special:EntityData/Q97.ttl as an example where they specifically have:
[code]

Now, say what you will about the wikidata ontology 🤕 but, if we can't su

[2021-10-05 04:14] astridu commented on #3100
Yes

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Justin Coyne ***@***.***>
Sent: Monday, October 4, 2021 8:02:18 PM
To: LD4P/sinopia_editor ***@***.***>
Cc: Astrid M Usong ***@***.***>; Author ***@***.***>
Subject: Re: [LD4P/sinopia_editor] Dot on the right indicates whether content has been entered for that field (#3100)

Thanks. This is so much clearer.

[2021-10-05 04:24] NancyL commented on #3082
RDA has Work, Expression, Manifestation & Item. BF has Work, Instance & Item. Manifestation & Instance are equivalent. bf:Work is mostly equivalent to an RDA expression + work. We do have implementations (LC & SVDE) where it is extended out to have another level: Opus (SVDE)/Hub (LC), Work, Instance, Item. Hub & Opus are both types of bf:Work and so anything that is applied to a work in Sinopia wo

[2021-10-05 04:52] NancyL commented on #3082
And Justin I'm not sure what you are meaning about the Wikidata aspect. If, as Michelle suggests, we use the primary class of the resource (i.e., the focus class of the template) you could create a template that contains that triple and the display would be wd:Item--Atlantic Ocean. Instead of "Work-Pride and prejudice", you could put (as I thought Michelle was suggesting) "bf:Work--Pride and preju

[2021-10-05 13:19] jcoyne commented on #3082
@NancyL I'm referring to the hard coding of `rdfs:type` over other predicates that are preferred by other ontologies.

[2021-10-05 16:37] #3075 closed

[2021-10-05 18:28] NancyL opened #3104 "Display both "Remark" and "Remark URL" in template"
**Describe the feature you'd like**
For several fields, I would like to add both a textual remark and remark URL. They are unrelated. I can add them both to the template, but only one icon displays. I would like both icons to display to the cataloger.  I also am uncertain when to use the remark for the resource and the remark for the property

**Give an example**
in pcc:bf2:Monograph:Instance, I h

[2021-10-05 19:03] NancyL commented on #3104
oops, sorry about that. If it is by any chance an easy fix, I would love to see this added this cycle. It's really important for PCC use

[2021-10-05 21:49] jcoyne commented on #3083
Developers; It looks like this removes the `btn-primary` class from the sidebar.  When this happens, also remove it from `resourceNav.scss` and remove `$vanilla` from `colors.scss`

[2021-10-06 00:47] astridu commented on #2897
@michelleif Is this what you mean?
![image](https://user-images.githubusercontent.com/42216982/136123283-71902686-4432-4a39-aa88-978e7fc03645.png)

[2021-10-06 02:42] michelleif commented on #2897
100%!

[2021-10-06 16:22] michelleif commented on #3075
@astridu now that we moved the instructions to the label preceding the field, should we remove the exis ting instructions that were **below** the field?

now it looks like:
![Screen Shot 2021-10-06 at 9.22.26 AM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/1ab68946-f9b8-41d4-b9f9-afc92b424bbe)

[2021-10-06 17:25] michelleif opened #3109 "scrolling weirdness when trying to change language"
when editing a template or a resource, go to existing field, click language (or "no language specified") next to a literal or label field

when the change language modal comes up, sometimes clicking in it makes the form scroll behind the modal, so you end up looking at a different field behind the modal (language setting does get saved correctly)

it happens both when (a) there's already a languag

[2021-10-06 17:33] michelleif opened #3110 "old style pencil still on Dashboard and Search under Resources"
Dashboard shows new pencil under Recent templates but old pencil under Recent resources
![Screen Shot 2021-10-06 at 10.28.54 AM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/3a27d310-682e-4283-9f03-22197f1ea2c9)

Search shows old pencil
![Screen Shot 2021-10-06 at 10.29.44 AM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/12b98153-d7a7-4c81-8c7d-40c6b7db072

[2021-10-06 17:49] peetucket commented on #3110
New pencil style is just the single pencil (no box outline) as shown in this ticket: https://github.com/LD4P/sinopia_editor/issues/2853  so switch the icon for "Recent Resources" to match the new style

[2021-10-06 17:52] #3079 closed

[2021-10-06 17:54] michelleif commented on #3085
@astridu can you list the visual design update aspects that need to be done here?

[2021-10-06 18:24] #3110 closed, assigned to peetucket

[2021-10-06 18:31] michelleif commented on #3082
putting this on hold because it is a BF-specific enhancement and we need to talk about whether we should do this class-labeling for non-BF classes too

[2021-10-06 18:50] michelleif commented on #2897
@astridu  whoops not 100%, what I was hoping for was a single "Format" dropdown with these values:

- Form view
- Table (RDF)
- N-triples
- Turtle
- JSON-LD

Can you add revised design?

[2021-10-06 18:53] astridu commented on #3075
@michelleif Yes, we should remove the existing instructions below the field.

[2021-10-06 18:55] astridu commented on #3076
@michelleif This whole ticket is irrelevant if dev can implement 3081 and 3083, but if they don't implement those 2, then yes, same applies to the left nav.

[2021-10-06 19:00] michelleif commented on #3075
i'll make a new ticket thx

[2021-10-06 19:00] astridu commented on #3085
Visual design update:
1. box bgcolor = E8ECF4, border color = 979797
2. View as "dropdown" => use secondary button style with dropdown triangle.
3. Table is organized into left aligned columns. Column headers are bold. Rows are delineated with horizontal rules = 979797

[2021-10-06 19:02] michelleif opened #3114 "remove extraneous instructions on Load RDF tab"
per #3075 we added Load RDF instructions **above** the fields. now we need to **remove** the old instructions that were below the fields. in the below screenshot, remove the instructions circled in red:
<img width="708" alt="Screen Shot 2021-10-06 at 12 01 31 PM" src="https://user-images.githubusercontent.com/23069165/136266528-178bc444-aa1c-4260-93ed-8514f44eac8a.png">

[2021-10-06 19:10] michelleif commented on #3056
resolved: add all of them

[2021-10-06 19:12] michelleif opened #3115 "add cultural heritage vocab to available QA authorities once it is available in QA"
see https://github.com/LD4P/qa_server/issues/175

[2021-10-06 19:13] michelleif commented on #3056
putting cultural heritage org request in separate ticket https://github.com/LD4P/qa_server/issues/175 and updating title of this ticket here

[2021-10-06 19:18] michelleif commented on #2897
in the most recent mockup, the dropdown would read "Table (RDF)", no need for line below that says "Table"

[2021-10-06 19:56] jcoyne commented on #3080
@astridu does this search the templates or the resources?  How do we present the search results?  Where do we put the filters for the result set?

[2021-10-06 19:59] jcoyne commented on #2865
@michelleif In order to get started, we need every english phrase from the editor translated to at least one other language.  Here's how search works does it: https://github.com/projectblacklight/blacklight/tree/master/config/locales

[2021-10-06 21:08] jcoyne commented on #3080
@astridu I don't understand. There presently is no search box on this page:
<img width="1001" alt="Screen Shot 2021-10-06 at 4 07 38 PM" src="https://user-images.githubusercontent.com/92044/136283420-7fe52a2a-2af1-4258-b5ef-66482da58cad.png">

are you saying there should be one now?

[2021-10-07 04:41] michelleif opened #3120 "un-loaded field becomes uneditable when loading RDF into a template"
when I "Load RDF" into a template, but don't load a value for every field in that template, I still expect to see all the fields in the template, with empty fields where I didn't load a value. Those empty fields should be editable so I can add a value.

on DEV now, post input interaction improvements, if there's a field in the template that doesn't have data loaded into it, upon Load RDF, the fiel

[2021-10-07 12:14] jcoyne commented on #3080
@astridu Are we going to get rid of the "clear query string" button (trash can)?

[2021-10-07 12:24] jcoyne commented on #2851
@astridu In h2 this pattern does not apply to *all* links. The header links for example do not and the icon links do not.  Currently we use underline in sinopia on the main tabs to indicate the current active tab, so should those have a different hover style?

[2021-10-07 15:13] jcoyne opened #3122 "Show left nav properties with errors as red"
If user clicks 'Save' and properties have errors, they will display in red to indicate they have errors.

![image](https://user-images.githubusercontent.com/42216982/135568403-8fd00d7a-e2c1-46e0-a42b-d7a62fc8cf51.png)

[2021-10-07 15:18] jcoyne opened #3123 "Improper use of label"
![Screen Shot 2021-10-07 at 10.18.06 AM.png](https://images.zenhubusercontent.com/5d827302218c340001a2e38f/22d15d45-0cea-48a8-a5d1-856fdcbad091)

Having a label within a button that labels the button itself is not a proper use of `<label>`

[2021-10-07 17:13] michelleif opened #3125 "Visual design: controls"
This is extracted from the ticket #3082
- ~~Move copy and preview icons next to title on right.~~ (Naomi #3183)
- ~~Next to existing Permissions link, add new link "Export to catalog";~~  Moved to #3130
  - ~~@jermnelson is there a separate ticket describing what the "Export to catalog" button needs to do? and in what circumstances it can be shown?~~
- ~~note "dot" separating the Permissions / Exp

[2021-10-07 17:19] michelleif opened #3126 "add BF-specific prefix to resource title in Editor"
- For title of resource, use `label` (as currently implemented). If resource is a bf:Work, prefix with "WORK - "; if resource is a bf:Instance, prefix with "INSTANCE - "; if resource is a bf:Item, prefix with "ITEM - ".
- see #3082 for design (only the title part of the design)
- see #3082 for discussion of desirability of having BF-specific prefix; possibility for having non-BF specific prefix

[2021-10-07 17:22] michelleif commented on #3074
@astridu is this a Sinopia-side thing or a font-awesome responsibility?

[2021-10-07 17:29] michelleif commented on #3060
Thanks Shawna, are you following up with the QA service to request addition of ORCID lookups in Sinopia? I'm not sure there's anything to do at this point on the Sinopia side. If we have an ORCID lookup, we can expose that for catalogers to use, but doesn't ORCID record which are authenticated and which are not? So as long as we have the ORCID URI I don't think Sinopia needs to keep track of which

[2021-10-07 18:00] #2948 closed

[2021-10-07 18:05] michelleif commented on #3080
@astridu does this take away the Search tab altogether?

[2021-10-07 18:09] michelleif commented on #2611
@NancyL the top checkbox is `Select/Deselct all`, are you asking about a button somewhere else?

@jcoyne is enough design provided now?

[2021-10-07 18:16] michelleif commented on #3089
see also #3088 might be related

[2021-10-07 18:20] michelleif commented on #2865
thanks this is helpful. changing title of ticket and putting it in backlog for consideration for future Work Cycle

[2021-10-07 19:20] michelleif opened #3127 "when new template save fails because of duplicate ID, stay on template creation page so user can fix"
When you create a new template and you use a template ID that's already been used you get an error message (see #2457 for ticket to rewrite error message to make it more helpful)

and the form you were working on disappears.
![Screen Shot 2021-10-07 at 12.17.17 PM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/f4905fd4-7870-4c2f-9ee5-4978e6c75c3c)

so the only way to correct yo

[2021-10-07 19:35] michelleif opened #3128 "do not allow saving of revised template if ID is not unique"
if user edits existing template and changes Template ID to an ID that already exists, don't let user save. instead display error message per #2457, keep the form open so user can fix (see #3127.)

examples on PRD:

I created a template
template:1
![Screen Shot 2021-10-07 at 12.25.57 PM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/5dec5617-8a8e-41df-a33e-943ace10b0f7)

I creat

[2021-10-07 19:40] michelleif commented on #2858
see also #3128

[2021-10-07 19:46] michelleif commented on #3074
@jcoyne please advise what work is needed here?

[2021-10-07 19:55] michelleif commented on #2769
looks like a job for..... @astrid!

[2021-10-07 19:57] michelleif commented on #3080
@astridu please see also JustinC's latest question above mine

[2021-10-07 21:07] jcoyne commented on #3083
@astridu I'm looking for a mockup that mixes in the expand controls with those that don't get expand controls.   How should those be positioned when we have a mix of hierarchical and non-hierarchical

[2021-10-07 21:55] jcoyne commented on #3125
Should we remove the "export to catalog" button from this ticket since we don't have that functionality yet?

[2021-10-07 22:07] michelleif opened #3130 "add "Export to Catalog" link to controls"
![export_link](https://user-images.githubusercontent.com/23069165/136468725-c514c67f-28f6-4969-a180-721cf56b141b.png)

~~note "dot" separating the Permissions / Export... and / Request MARC (see below) links~~ done in PR #3183

blocked until the function is ready, plus we need details about when to display the button

[2021-10-08 00:12] astridu commented on #2935
If we do [2813](https://github.com/LD4P/sinopia_editor/issues/2813), then I think this would be worth it. Otherwise, probably not worth the effort rn bc it will just show the template which is not the most helpful.

[2021-10-08 17:17] jermnelson opened #3131 "Background Color from SASS not appearing"
**Describe the bug**
What went wrong? What did you expect to happen?
With the latest updates to main (including dependency updates), the background-color (defined as `$white-linen` in https://github.com/LD4P/sinopia_editor/blob/b4acf9dcb48925911855bd3002363ef2fca8a0bb/src/styles/colors.scss#L10) is no longer appearing in the editor.

- What is the impact on your work? (can't work / work stoppage;

[2021-10-08 17:48] michelleif opened #3134 "DEV: Load RDF should give error when trying to load into template that doesn't exist"
expected behavior (which is on Stage): if you try to load RDF into a template that doesn't exist, like this on stage:
[code]

[2021-10-08 18:20] #3134 closed, assigned to nobody

[2021-10-08 20:27] michelleif opened #3137 "[blocked] update instructional text in Resource Templates find box"
currently says "Enter id, label, URI, remark, or author"

Update to "Enter id, label, URI, author, group, or guiding statement"

do not do this until we can find by group (blocked by #3064)

![Screen Shot 2021-10-08 at 1.24.58 PM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/9a3c40a8-9b30-49d3-ae69-93232bcbce5d)

[2021-10-11 12:40] #2961 closed

[2021-10-11 14:28] michelleif opened #3143 "update newsitem for 3.10 release"
please update the newsitem file with this text:

- Accessibility improvements
- Visual design improvements
- Ability to define a label for a resource

(replaces:
`Improved input experience for literal, lookup, and URI fields. .`)

[2021-10-11 14:49] #3143 closed, assigned to justinlittman

[2021-10-11 16:15] justinlittman commented on #3122
Is this intended to be "missing required properties" or "properties with errors"? (Most errors are missing required, but there are other errors as well.)

[2021-10-11 16:30] justinlittman commented on #3122
OK, updating to make _slightly_ more accurate.

[2021-10-11 18:06] michelleif commented on #3077
opening separate ticket for the part of this that is undone

[2021-10-11 18:06] #3077 closed

[2021-10-11 18:06] michelleif opened #3145 "link Sinopia logo to homepage"
see #3078

[2021-10-11 20:25] astridu commented on #3122
That sounds good. Thanks!

[2021-10-11 20:31] #2176 closed

[2021-10-11 22:05] #3145 closed

[2021-10-11 22:46] michelleif opened #3149 "place version number in footer"
the version number disappeared from top nav

this makes it impossible to know what version one is on

@astridu can you help by pointing to ticket that shows where version number should be?

[2021-10-12 04:28] michelleif commented on #3109
this is still happening when you click the text of the radio button choice (vs clicking directly on the radio button). and related when you click around in that language modal, sometimes the focus changes in the left nav, and it shouldn't.

to reproduce on DEV (see recording):
use template: completely:new

1. scroll down in main form (not left nav) to field "Example 15".
2. click "English" to brin

[2021-10-12 12:22] #2936 closed

[2021-10-12 14:41] justinlittman opened #3152 "Extra bullets shown when user logged out"
These bullets should not appear.

![image](https://user-images.githubusercontent.com/588335/136977624-2441a8e5-9cb8-480c-b9f8-89a32a80951d.png)

[2021-10-12 14:52] michelleif opened #3154 "confusing proliferation of label fields in template creation"
Now that we require a label for every URI, we have several places in template creation where there **appear** to be 2 labels for the same thing. One of those labels seems to be extraneous and never surfaced anywhere. This is confusing for the template creator.

1) A template has a single `Class` (which is a URI) and a single `Template Label`. But now that every URI requires a label, there's an add

[2021-10-12 14:57] michelleif opened #3155 "uneven button spacing on preview"
when previewing (View Resource) from Search results, the buttons on the preview modal have uneven spacing
![Screen Shot 2021-10-12 at 7.54.34 AM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/c45b3e61-f3b0-4554-b62d-e41ac53c60b7)

* Adjust so that there is "little space" between all buttons.
* Change all buttons to text only, i.e., remove icons.

[2021-10-12 15:06] michelleif opened #3156 "display environment name in homepage logo"
when on SInopia homepage, the logo doesn't tell you what environment you're in (yes, the URL does)

![Screen Shot 2021-10-12 at 8.05.15 AM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/f3adce84-3c76-4d64-b820-cfeeec954d2e)

It would be helpful if the homepage made it obvious, like we do once you're in the app:
![Screen Shot 2021-10-12 at 8.06.04 AM.png](https://images.zenhubus

[2021-10-12 15:33] jcoyne commented on #3155
@astridu I wonder if these icons should be changed to match #3125

[2021-10-12 17:54] michelleif commented on #3149
since we changed the top left logo to link to homepage, correct, the footer version # does not need to be a link

[2021-10-12 18:07] #2885 closed

[2021-10-12 18:31] sfolsom commented on #3056
I've made a pull request with ALL of the cataloging vocabs, here: https://github.com/LD4P/sinopia_editor/pull/3129/commits/2275a08a31867c20af269cd76557ef090ee38e32

[2021-10-12 18:33] gdegroat opened #3160 "distinguish between +Add another at nested resource vs field level"
This was reported to the PCC Sinopia Cataloging Affinity Group as a possible bug, so i asked Michelle about it.  She says that the intent is the new way of adding multiple values in a repeating field (before, you typed one value, hit enter, it went below the box, and you could then type another).

However, in the affinity group we were confused by this since it's the same wording as the "add anoth

[2021-10-12 18:38] gdegroat opened #3162 "Failed MARC conversion after adding something to work record"
This is related to the issue about the "add another" button on contributor.  The instance record https://api.stage.sinopia.io/resource/b0319047-acd0-4f30-bd8b-98e6c1bac6b0  previously had a successful MARC conversion.  However, after i experimented with the work record and did "add another" at the field level of the primary contributor, the record now fails in the MARC conversion.  That doesn't su

[2021-10-12 18:49] NancyL commented on #3162
Primary contributor is non-repeatable, but because it is on the same property as contributor, which is repeatable, it looks like it is repeatable. This is a known problem, but PoCo at the time felt other issues were more important and this could be addressed through best practice methods. It is admittedly more confusing now, since the button is so much more visible (a good thing otherwise!)

[2021-10-12 19:12] NancyL commented on #3160
I see what Greta is saying here.

When there is a blank node, if we want to "add another", we are talking about the blank node. For example, in bf:Contribution, to keep all the properties in the blank node together (bf:agent, bf:role), we need to repeat the entire blank node, rather than simply "add another" bf:agent. If I "add another" agent as it so prominently suggests I do, I will get a blank

[2021-10-12 20:26] astridu commented on #3155
If it's a button, it doesn't need the icon in the button.

[2021-10-12 20:26] #3152 closed, assigned to peetucket

[2021-10-12 20:51] astridu opened #3164 "Adjust nav black dots"
* Reduce size of black dots
* Add spacing between dot and highlighted nav (the tan box).
![image](https://user-images.githubusercontent.com/42216982/137027266-2e702fc3-8b60-4cd5-bcef-d75aa629c756.png)

[2021-10-12 21:04] astridu commented on #3155
The button with the label (text). TY!

[2021-10-12 21:59] #3120 closed, assigned to justinlittman

[2021-10-12 22:01] #3149 closed, assigned to ndushay

[2021-10-12 22:57] michelleif opened #3166 "when clicking in language modal, left nav is misbehaving"
while the unwanted scrolling behind modals is fixed (#3159) (thanks!), the left nav still behaves strangely when clicking around in the modal--in left nav, a field other than the one you're on gets highlighted when you click text of a different radio button option

see screen recording:
https://images.zenhubusercontent.com/149367347/700c70e7-abd7-4c30-a79e-a9caa0078107/screen_recording_2021_10_12_

[2021-10-13 11:08] #3155 closed, assigned to ndushay

[2021-10-13 16:04] michelleif opened #3170 "add space between MARC and Transfer buttons in Editor"
![Screen Shot 2021-10-13 at 9.03.39 AM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/09f288d5-957c-4403-a914-9cc266e3bddf)

[2021-10-13 17:32] michelleif commented on #3155
@astridu can you make a ticket specifying which buttons to change style of and where?

[2021-10-13 20:57] astridu commented on #3156
@ndushay I am wondering if you could change it so the whole logo is text only, like the one in the app. Then you could just use the same font size/color, and everything would match regardless of whether you are in the editor or on the homepage.

[2021-10-13 21:07] #3080 closed

[2021-10-13 21:07] #3166 closed, assigned to peetucket

[2021-10-13 21:13] justinlittman commented on #3085
When running with `USE_FIXTURES=true`, under Actions, select Load RDF and then provide:
[code]
(or similar).

[2021-10-13 21:43] ndushay commented on #3156
per slack conv with Astrid:

[code]

[2021-10-13 21:57] michelleif opened #3174 "fix alignment and wrapping of top nav"
now that Search is in top nav, when viewing at a reasonable size, the alignment of top nav options is off:

here's when viewed with browser zoomed out, looks ok:
![Screen Shot 2021-10-13 at 2.54.53 PM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/cd555f94-f270-445b-b667-8474ef41f3d3)

zoom in just a bit, things aren't lining up:
![Screen Shot 2021-10-13 at 2.53.53 PM.png](http

[2021-10-14 00:48] michelleif commented on #2897
@astridu this is implemented but box for choosing what type of preview you want does not have dropdown arrow, should it?
![Screen Shot 2021-10-13 at 5.46.52 PM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/90f6293a-84c2-4af5-8be1-aac9a26c627a)

example of how we show dropdown elsewhere:
![Screen Shot 2021-10-13 at 5.45.44 PM.png](https://images.zenhubusercontent.com/5d825bf74d

[2021-10-14 02:24] astridu commented on #3174
@michelleif No, it is not supposed to get wider.

[2021-10-14 02:30] justinlittman commented on #2897
I had a class wrong. Fixed by https://github.com/LD4P/sinopia_editor/pull/3175

[2021-10-14 02:36] astridu opened #3176 "Update buttons in modal"
In the modals, "request MARC" and "export" should be links. Edit/Copy should be primary buttons (without icons, label only) ![Screen Shot 2021-10-12 at 7.54.34 AM.png](https://camo.githubusercontent.com/5e429a097f70c00a52fb0a5145d2b8169659c8603a363a132467ee563d1f28e9/68747470733a2f2f696d616765732e7a656e68756275736572636f6e74656e742e636f6d2f3564383235626637346465663530303030316431326537302f63343562

[2021-10-14 02:49] astridu opened #3177 "view-only Permissions in Preview"
View-only permissions in preview. If the 'editable by' list is very long, add an ellipsis which user can click to see full list.
![image](https://user-images.githubusercontent.com/42216982/137242327-5be648a9-f84a-4a37-bdbc-3f1936a8a4ea.png)

[2021-10-14 18:53] #3128 closed

[2021-10-14 21:14] #3156 closed

[2021-10-14 21:34] michelleif opened #3182 "bring back the MARC and Export buttons in the Preview for Search results /Dashboard Recent resources"
Preview from Search results or Dashboard / Recent resources is supposed to include the MARC button (when resource has class bf:Instance) and the Transfer to... button (when user is in group that has transfer to ILS permission).

These buttons (at least the MARC button) were there very recently and seem to have disappeared.

Stage showing MARC button:
![Screen Shot 2021-10-14 at 2.33.45 PM.png](htt

[2021-10-14 23:28] michelleif opened #3184 "left nav still acting funny when clicking around in language modal"
see work already done in #3171

clicking in language modal causes highlighting to appear / disappear in left nav

not affecting user's tasks, but is distracting

here's a screen recording:
[Uploading... Screen Recording 2021-10-14 at 4.26.34 PM.mov]

[2021-10-14 23:33] astridu commented on #3125
If possible, yes. Thank you.

[2021-10-14 23:35] astridu commented on #3125
It's more desirable if they behave like links, but not the end of the world if you have to retain the hover state.

[2021-10-14 23:57] ndushay commented on #3125
@astridu @michelleif  I'm submitting PR #3183 for this ticket;  I would ask that another ticket be made to change the hover behavior, if that's ok.   There's already a lot in the PR.

[2021-10-15 11:18] #3125 closed, assigned to ndushay

[2021-10-15 13:15] justinlittman commented on #3176
If this is correct, can this ticket be closed?
<img width="1141" alt="image" src="https://user-images.githubusercontent.com/588335/137492824-9a268bb5-a6e3-4ecd-b339-c6be82559490.png">

[2021-10-15 13:19] #3122 closed, assigned to nobody

[2021-10-15 13:39] #3170 closed

[2021-10-15 14:14] #3130 closed

[2021-10-15 14:14] #3127 closed, assigned to justinlittman

[2021-10-15 14:16] #3182 closed, assigned to justinlittman

[2021-10-15 14:24] elrayle opened #3189 "Support QA locally defined authorities"
**Describe the feature you'd like**

QA has the ability for small authorities to be defined by a yaml file directly in the QaServer application.  There are currently 3 authorities defined using this approach: property_type, property_attribute, publisher_cities_select_list.

**Give an example**

The request format for QA local defined authorities is...

https://lookup.ld4l.org/authorities/search/lo

[2021-10-15 14:54] elrayle opened #3190 "AGROVOC_CACHE extended context labels are blank -- sometimes"
The extended context labels are blank sometimes and sometimes present.  Need to explore whether this is happening on the QA side or cache side.

The following query has a mix of blank and present labels for both broader and narrower.

https://lookup.ld4l.org/authorities/search/linked_data/agrovoc_ld4l_cache?q=milk%20fat%20yield&maxRecords=4&context=true

For this query, all the extended context la

[2021-10-15 14:55] #3190 closed, assigned to elrayle

[2021-10-15 19:27] #3176 closed

[2021-10-15 19:27] #3164 closed

[2021-10-15 21:06] michelleif opened #3193 "login window on homepage looks strange when browser window resized"
regular browser window:
![Screen Shot 2021-10-15 at 2.04.26 PM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/db2c95fd-e516-4733-8f6e-6fe6b5fd4896)

make it narrower, fields stick out over right edge of background design; field labels wrap in middle of word:
![Screen Shot 2021-10-15 at 2.04.33 PM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/d83e8efd-a8f0-4

[2021-10-15 21:11] michelleif opened #3194 "Permissions display should be by Group Label not Group ID"
see the design in the original ticket #3177

the Preview Permissions Display is supposed to show the Group label , not the Group ID.

We show in the Group Column on Dashboard/Search; the Filter by Group dropdown, and in group choice when someone saves a resource or changes edit permissions.

Display of Group description in Group column (`Seventh group`)
![Screen Shot 2021-10-15 at 2.14.17 PM.png](

[2021-10-15 21:15] michelleif commented on #3177
group displaying successfully but see #3194

[2021-10-15 21:24] michelleif opened #3195 "left nav field names start aligining center when browser is narrowed or zoomed in"
here's how some field names look when zoomed out, nice!
![Screen Shot 2021-10-15 at 2.22.48 PM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/f2594a8f-41e9-4957-9003-3cca509ce0f6)

when I narrow the browser window or zoom in, the field names start center-aligning. this looks strange
![Screen Shot 2021-10-15 at 2.22.57 PM.png](https://images.zenhubusercontent.com/5d825bf74def500

[2021-10-15 21:31] #2611 closed

[2021-10-15 22:17] #3194 closed

[2021-10-15 22:52] peetucket commented on #3174
I fiddled with this a bit, but I'm not sure I'm able to get it to work any better.  I'm  not sure why the top nav links shift up slightly when you shrink the screen and the "Resource Templates" goes from one line to two, but this then causes it to be misaligned with the "Search" text, which is deliberately set to have a top-padding (presumably to center it better next to the search text box).  I'v

[2021-10-15 23:13] NancyL commented on #3137
I really prefer "guiding statement" for all

[2021-10-15 23:32] michelleif opened #3199 "getting permission error when trying to save copy of resource without making any changes"
see screen recording below

1) on DEV as user who is only in Cornell group
2) find a resource "owned by" colorado
3) copy it
4) don't change a thing; because I like it how it is. click save
5) select Cornell as "owned by" group (my only choice)
5) `Error saving new resource: Unauthorized: User must be a member of the resource's group`

https://images.zenhubusercontent.com/149367347/792b1b38-c1c0-4

[2021-10-15 23:48] michelleif opened #3200 "Select/Deselct on Search Filter: not getting unchecked (plus question about initial state)"
ticket #2611 says if user unchecks a box in the filter dropdown, "Select/Deselect All" gets unchecked too. This is not happening:
![Screen Shot 2021-10-15 at 4.43.56 PM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/5d2e197c-8985-4e89-95a5-502b740b71d6)

plus:
@astridu: what is expected behavior upon first clicking "filter by"? ticket #2611 seemed to say **nothing** should be s

[2021-10-18 01:58] michelleif commented on #2611
works but see #3200

[2021-10-18 02:10] michelleif opened #3202 "no more preview at bottom of editor screen?"
@astridu Preview (and Copy) has disappeared from bottom of Editor window. This seemed useful when one was working on a longish description. Was this intentional?

Stage (what it used to look like)
![Screen Shot 2021-10-17 at 7.06.57 PM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/2b658220-a265-4d57-b4bb-07dc34dc7c8e)

DEV (latest; no Preview or Copy button at bottom of window

[2021-10-18 02:16] michelleif opened #3203 "update newsitem for sprint 3 release"
My previous attempts to update newsitem have failed, so here is the text, thank you!

- Context for Sinopia lookups
- Collapsible left navigation
- Search moved to top navigation
- RDF preview viewable even without edit permission

[2021-10-18 19:51] justinlittman commented on #3203
closed by #3205

[2021-10-18 19:51] #3203 closed

[2021-10-18 20:45] #2813 closed

[2021-10-18 20:47] justinlittman commented on #2390
Will write tests if/when these are touched.

[2021-10-18 20:47] #2390 closed

[2021-10-18 20:47] #2277 closed

[2021-10-18 20:47] #2257 closed

[2021-10-18 20:52] justinlittman commented on #2178
Close @michelleif ?

[2021-10-18 21:48] #2896 closed

[2021-10-19 17:41] michelleif commented on #3104
the only place I see "tooltip" in the UX is on the hover text when you mouse-over the "i" icon. @NancyL are you asking that we change the hover text to say something other than "tooltip"?
![Screen Shot 2021-10-19 at 10.39.58 AM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/e9525946-f861-4440-a4db-2484dffe4fda)

[2021-10-19 18:01] michelleif commented on #2785
back to @sfolsom's suggestion above to create a small vocab in QA. If we expose a small vocabulary (like a list of subclasses of bf:Instance) as a dropdown, I believe this would solve this use case, as PCC is asking to have a field:
<resource> <hasType> <insert bf:Instance subclass here>

we are not asking to change the Template Class as defined in the template

@NancyL is this a correct interpret

[2021-10-19 19:05] justinlittman commented on #2935
It would be helpful to have a screenshot showing what should be sticky.

[2021-10-19 19:34] michelleif commented on #3160
if you nest a template and make it repeatable, yes, the entire chunk can be repeated. if there's a non-repeatable field in the nested template, it doesn't become repeatable. it is still only allowed once per "chunk".

@NancyL can you remind of the place where you are wanting to have two fields with the same property and are not able to do that now? so we can explore solutions?

[2021-10-19 19:37] michelleif opened #3212 "PCC Enhancement Requests"

[2021-10-19 22:43] michelleif commented on #2935
@astridu can you show the current design where the preview and copy icons are next to the label? (released on all environments now)

[2021-10-20 02:17] astridu commented on #2178
@michelleif Yes, I think the Form view will work. Thanks!

[2021-10-20 05:26] #3202 closed, assigned to nobody

[2021-10-20 13:50] justinlittman commented on #3160
If you wanted to, we could also do the same for the other "Add another" button, e.g., "Add another Name of Person".

[2021-10-20 17:48] michelleif opened #3218 "display both Remark and Remark URI"
(this ticket extracts ~one~ ~two~ one actionable tasks from #3104)

property templates currently have both a Remark, which is displayed behind an "i" icon as a textual "tooltip", and a Remark URI, which is displayed as a link

while it's possible for the template creator to add value for both Remark and for Remark URI, we only display one
![Screen Shot 2021-10-20 at 10.45.49 AM.png](https://images

[2021-10-20 17:54] michelleif opened #3219 "if Remark text contains a URL, make the URL clickable"
(this ticket extracts an actionable task from #3104)

property templates have an optional Remark, which is displayed to the user as a textual tooltip. Sometimes it's helpful to give the end-user a link within the text, like "Use this field to add data according to the xyz standard. for more info see http://xyz.com/info"

this ticket asks that if there is a URL in the text of Remark, expose that UR

[2021-10-20 23:49] michelleif opened #3220 "add option for cataloger to choose a property"
see #2763 for use cases and prior discussion

Root template change:
1) make the Property URI (<http://sinopia.io/vocabulary/hasPropertyUri>) field repeatable. This will enable the template creator add property choices for the cataloger for a particular property template, if desired.

Editor changes (applies to all kinds of property templates: literal, lookup, etc.)

1) for each field in Editor, di

[2021-10-20 23:50] michelleif commented on #2763
thanks for all the use cases everyone! the new ticket #3220 describes the implementation we will build in coming work cycle

[2021-10-20 23:50] #2763 closed

[2021-10-21 00:04] michelleif opened #3221 "allow multiple fields of type nested resource to have the same property (provided the nested resources are of different classes)"
_this was the original discussion; we will implement the solution described in title_

use case:

the property bf:contribution has two possible objects, each represented by its own template:
bflc:PrimaryContribution
and
bf:Contribution

right now Sinopia doesn't allow two fields with the same property, so we can't make separate fields for
<> <bf:contribution> <bflc:PrimaryContribution>
and
<> <bf:

[2021-10-21 00:08] michelleif opened #3222 "error when searching for Sinopia template in template creation"
in template creation, doing a lookup to Sinopia templates in "Nested resource attributes" gives error
![Screen Shot 2021-10-20 at 5.05.16 PM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/c735744c-0044-4d16-94d6-ea13b51e97c6)

enter something in the field, like `demo`, hit enter, get
![Screen Shot 2021-10-20 at 5.05.21 PM.png](https://images.zenhubusercontent.com/5d825bf74def50

[2021-10-21 00:12] michelleif commented on #3154
see #3220 which will make use of the Property URI's label. The UI for template creation might still be confusing but at least there won't be unused labels, except for Template URI's label. Going to keep this on ice for now and see what happens after #3220 is implemented.

[2021-10-21 00:13] michelleif commented on #3162
@justinlittman can you investigate?

[2021-10-21 00:37] michelleif commented on #3189
@jimfhahn this will enable publisher city list to be used in Sinopia

[2021-10-21 03:11] astridu opened #3223 "Move resource tabs to top of page under top navigation"
Currently the resource tabs appear here:
![image](https://user-images.githubusercontent.com/42216982/138204650-c230ffc1-d2b9-4419-8287-1839c757e53e.png)

It would be nice if they were here instead:
![image](https://user-images.githubusercontent.com/42216982/138204989-0842ae48-0eea-47f9-bf9b-d908fde95dff.png)

Also see

[2021-10-21 03:25] astridu opened #3224 "Visual design - resource tabs"
Tabs currently look like this:
![image](https://user-images.githubusercontent.com/42216982/138205102-09fe64a6-974c-4158-bfa7-88a01a22ce80.png)

Could we update them to look like this? At this reduced width, can we fit 5 tabs across?
![image](https://user-images.githubusercontent.com/42216982/138214159-7d758173-7eb2-4b4d-acb6-03816e2e715d.png)

[2021-10-21 04:10] astridu opened #3225 "+Add another" button to include nested resource name or field name"
To prevent confusion of what user will be adding when clicking '+ Add another', please add the nested resource name or field name to the button. For example: '+ Add another Primary Contribution' or '+ Add another Name of Person'
![image](https://user-images.githubusercontent.com/42216982/138210121-66b1341f-3ff5-455d-9643-f0ee40af1800.png)

[2021-10-21 04:19] #3160 closed, assigned to nobody

[2021-10-21 05:02] michelleif opened #3226 "hide empty nested resources in Form Preview"
#3055 which hides empty fields in the "Form" preview, but we aren't hiding empty **nested** resources, for example (https://api.stage.sinopia.io/resource/3fa98172-f8c0-4914-a296-69ab6798c1d5)
![Screen Shot 2021-10-20 at 10.02.55 PM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/6a122659-8750-49cd-8093-5a369abb690f)

[2021-10-21 05:04] astridu opened #3227 "Display relationship of resource to work/instance/item"
In the left nav, display 2 tabs. Default tab is the Resource outline. User can also click on Relationships tab and see the resource in context of its work/instance/item.
![image](https://user-images.githubusercontent.com/42216982/138214615-1fab1cba-612a-4fc4-9400-a0db83b22850.png)

[2021-10-21 05:39] michelleif opened #3228 "Display of "Edit" permissions in Form preview: Don't show clickable ellipsis unless there's actually additional groups to show"
In the Form Preview we now display "owned by" and "editable by" permissions for the resource.

Since "editable by" can have multiple values, we're using an ellipsis so we can keep the display to one line and user can click to see more.
![Screen Shot 2021-10-20 at 10.33.37 PM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/af45778b-65ca-4a2b-9b1c-bfa51ef1ef18)

but the ellipsis i

[2021-10-21 12:03] justinlittman commented on #3221
Can there be different properties, bf:contribution and bf:primaryContribution?

[2021-10-21 14:39] justinlittman opened #3231 "Remove resource from state after preview"
Keeping previewed resources in state is a giant memory leak.

This is only for resources that are previewed from search, not within the Editor (i.e., that use `PreviewModal`, not `EditorPreviewModal`).

Note that there is an existing action for removing a resource from state.

[2021-10-21 16:00] NancyL commented on #3227
Hmm, good question. Instance would not have the language in the title as in the mock-up, unless you are drawing that from the language code; that would be in the work title according to current practice.
Publisher name could be useful at the instance level and/or edition (the statement for which is at the instance level, not item)

[2021-10-21 16:41] michelleif commented on #3221
nope, cause neither bf:primaryContribution nor bflc:primaryContribution exist in the ontology
only bf:contribution whose range is bf:Contribution, and bflc:PrimaryContribution which is a subclass of bf:Contribution

also, since there is a need to define which object is the Primary and which the Contribution, that's why they are modeled as nested, so the class can be asserted

[2021-10-21 20:58] michelleif commented on #2051
#3227 will implement this

[2021-10-22 21:25] justinlittman opened #3233 "Versions and version diffs"
Currently, Sinopia stores versions of resources (one version each time a resource is saved).

To make these versions available to the user:
* List the versions for a resource.
* Allow a user to preview a resource version.
* Provide a diff view between versions and/or the current resource.

[2021-10-23 01:46] kevkishi opened #3234 "Set defaults for Nested Resource"
I'm not sure how this would work, but it would be very cool to be able to set a default value for a Nested Resource, especially those that are suppressible lookups.

For example, see template: pcc:bf2:PlayingSpeed
Playing Speed requires its own template because we need to set the rdf:type to bf:PlayingSpeed, which is a subclass of bf:SoundCharacteristic.
We use the same property bf:soundCharacteri

[2021-10-26 00:43] #3193 closed, assigned to peetucket

[2021-10-26 18:14] justinlittman opened #3240 "Display remark URL label"
Currently, a remark URL is coded like:
[code]

It should be changed so that:
* `title` is used instead of `alt`. That will result in normal mouseover behavior.
* Instead of using the URL as the `title`, the URL label is used. The URL label is currently in the template, but not added to state so it will need to be added to state.

[2021-10-26 19:01] justinlittman opened #3243 "SPIKE: Consider accessibility of popovers"
See discussion in #3219

For this ticket, determine whether current implementation of popovers is accessible, including links within a popover. If current implementation is not accessible, propose how to remediate.

[2021-10-26 19:17] justinlittman opened #3244 "Initial scroll not working when opening resource for edit"
Steps to reproduce:
1. Go to a long page, e.g., a dashboard.
2. Select a resource for editing from the bottom of the page.

Expected result:
Resource opens for editing at the top of the resource.

Actual result:
Resource opens for editing at the bottom of the resource.

[2021-10-26 19:19] #3224 closed, assigned to jcoyne

[2021-10-26 19:42] #3244 closed, assigned to justinlittman

[2021-10-26 20:00] #3195 closed, assigned to jcoyne

[2021-10-26 21:24] #3219 closed, assigned to peetucket

[2021-10-26 22:22] #3233 closed, assigned to justinlittman

[2021-10-28 01:18] #3231 closed, assigned to peetucket

[2021-10-28 01:18] #3240 closed, assigned to jcoyne

[2021-10-28 07:24] #3218 closed, assigned to peetucket

[2021-10-28 07:45] michelleif opened #3258 "when field names are long on nested resource fields, it's not clear which field the expand caret applies to"
here's a template ld4p:RT:bf2:Monograph:Item:Un-nested on DEV with some nested resource fields. for the longer field names, the caret is on a different line than the field name, and t's not clear whether the caret applies to the field name above or below it
![Screen Shot 2021-10-28 at 12.43.31 AM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/81ddd8f7-48d0-451d-8109-2ed45943bff

[2021-10-28 15:52] jcoyne opened #3259 "Validation doesn't clear when submitting a literal to a required lookup"
If you create a new resource using "Sinopia:RT:Demo:SampleResourceFuller" on development (or any template that has a required lookup), then before entering any values you click save. This validates the form.   Next fill in all required fields except the required lookup ("Example 10" in this case).

<img width="1193" alt="Screen Shot 2021-10-28 at 10 50 52 AM" src="https://user-images.githubusercon

[2021-10-28 16:32] #3258 closed, assigned to nobody

[2021-10-28 19:35] justinlittman opened #3262 "Rewrite QA client"
Currently our QA client is implemented using `swagger-client`, which dynamically builds a client based on a local openapi spec. This is problematic because:
* The client code is complex and hard to make changes.
* The local openapi spec is not maintained.

For this ticket, rewrite the QA client to be more consistent with our other API clients. It should retain the existing functionality, as well a

[2021-10-28 20:06] justinlittman opened #3263 "Search Sinopia BF Works, Instance, and Items"
![image](https://user-images.githubusercontent.com/588335/139327017-3f7fd614-460d-4d78-a5e5-5716d148be1e.png)

Currently, options exist for searching all Sinopia resources and selected QA authorities.

For this ticket, add searches for:
* "Sinopia BIBFRAME work resources": Search where type="http://id.loc.gov/ontologies/bibframe/Work"
* "Sinopia BIBFRAME instance resources": Search where type="htt

[2021-10-28 22:22] ndushay opened #3266 "move "base templates" from sinopia_api git repo / mongo_db deployment to locally loaded"
Based on work for #2889 and #2907, there is a definite smell about the configuration for sinopia_editor UI living not only in mongo_db, but in LD4P/sinopia_api, a completely different code base from the rest of the editor.

LD4P/sinopia_api has a `setup` folder with json files that are used as "base templates" to get the sinopia_editor to display the correct UI widgets for editing a resource_templ

[2021-10-28 22:39] #2879 closed, assigned to michelleif

[2021-10-29 00:07] michelleif opened #3268 "Show related resources in Search results"
original feature request is in #2204.

in Search, for each result that has class bf:Work, bf:Instance, or bf:Item, show related Sinopia resources (see https://github.com/LD4P/sinopia_api/issues/192), with ability to preview, edit, and copy those related resources.

For a bf:Work, the related bf:Instances will be displayed.
For a bf:Instance, the related bf:Work and bf:Items will be displayed.
For

[2021-10-29 00:47] michelleif opened #3269 "give user easy way to copy Shareable URL for resources"
#2990 is great in that we now have a shareable URL for any resource or template, but we don't show it to the user so user can easily copy it and share it

can we expose this to the user so that for example, when I see a resource in search results, or I'm previewing or editing that resource, I can "copy shareable URL" (or whatever makes sense, or an icon to represent this) to send it to someone els

[2021-10-29 00:56] #3269 closed, assigned to nobody

[2021-10-29 01:15] michelleif opened #3270 "are empty fields meant to be collapsed in Editor view when editing existing resource?"
when I open a saved resource, empty fields are collapsed. is this intentional? when you open the template for editing, we have the fields expanded.

this is an existing resource, first field has no data:
![Screen Shot 2021-10-28 at 5.58.43 PM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/6ab1699e-47af-4da1-9f94-dc860d29e1c3)

this is opening the template used for above resourc

[2021-10-29 12:08] justinlittman opened #3271 "Componentize Preview, Edit, and Copy icons"
![image](https://user-images.githubusercontent.com/588335/139431703-3cfdeba7-65a2-4fca-84b2-36f677f35dd4.png)

They're proliferating in the Editor with near dupe code. Note that they may vary by size, handler, aria-label, etc so need some configuribility.

[2021-10-29 12:14] justinlittman opened #3272 "Fix versions tab layout"
![image](https://user-images.githubusercontent.com/588335/139432258-218341ad-18c1-4298-b558-1c45f9846f59.png)

Note that the BS classes for the versions tab are different than the navigation tab. It would be optimal if this layout was moved to LeftNav component so it did not need to be duped in each tab component or was passed from LeftNav to the tab components.

[2021-10-29 16:24] #3270 closed, assigned to nobody

[2021-10-29 16:35] michelleif opened #3274 "Allow suppressing language selection for a property"
Often there are literals where a language is not appropriate or relevant, like an ISBN (see original request #2837)

The goal of this ticket is to allow a template creator to specify that language selection should be suppressed for a property. When suppressed for a property, the user language should default to none (i.e., language should not be added to the RDF; this is the equivalent of the user

[2021-10-29 16:40] michelleif opened #3275 "do not expose SHAREVDE datasets in Sinopia Search"
Sinopia Search dropdown has a bunch of old SHAREVDE datasets. Do not show those anymore.
![Screen Shot 2021-10-28 at 3.41.23 PM.png](https://images.zenhubusercontent.com/5d825bf74def500001d12e70/af4afc35-c560-49fa-aefe-32ea8e5ebd43)

[2021-10-29 18:22] justinlittman commented on #3275
This probably just requires removing from `searchConfig.json`.

[2021-10-29 18:33] jcoyne commented on #3263
This seems to duplicate the some of the functionality of the "Filter by Class". Should we consider removing that?

[2021-10-29 18:51] justinlittman commented on #3262
![image](https://user-images.githubusercontent.com/588335/139487223-f1b264e8-67f6-4f1b-8cc1-bbf2ae674825.png)

[2021-10-29 18:53] justinlittman commented on #3262
We could maintain our own local openapi, but since we don't maintain QA this is fragile.

It would be far easier to maintain a simple client.

[2021-10-29 19:29] jcoyne commented on #3262
@justinlittman There is an swagger doc on that site here: https://lookup.ld4l.org/qa/apidoc/apidoc.json Is there a reason we can't ask Lynette to update it with her changes?  They are funded on this grant too, right?  I don't want this API that is very important to our project to be subject to arbitrary changes that are not validatable and documented.

[2021-10-29 19:45] michelleif commented on #3263
we still need the filter so that you can filter your search results after the fact, like if you get too many results and want to narrow it down. plus the filter lets you filter by the classes in your search result set, not just BF classes

[2021-10-29 19:52] jcoyne commented on #3263
So, how is this different than just searching Sinopia and then filtering to the desired class?

[2021-10-29 20:08] michelleif commented on #3263
if you already know in advance what you want to search for, you can do it this way. also this arose when @justinlittman and I were thinking about how to implement #3268, and one idea was that it would be easier to show relationships if we were only showing them for one class at a time, thus user might want to filter results ahead of time. that is no longer part of #3268....but still, we do offer t

[2021-10-29 20:10] ndushay commented on #3266
"bootstrap template json"

[2021-10-29 20:10] jcoyne commented on #3263
If we implement this, would we want to show a different result display, possibly without the class showing and without the filter for classes (which would likely be redundant)?

[2021-10-29 20:17] justinlittman commented on #3263
Possibly -- let's implement this, see how it looks, and then ticket any additional tweaks (e.g., not showing type filter when only one type in results).

[2021-10-29 20:18] justinlittman commented on #3266
"bootstrap" is a loaded term for me.

[2021-10-29 20:29] ndushay commented on #3266
"component template"  !!!

[2021-10-29 21:35] ndushay commented on #2889
@justinlittman is the documentation here `sinopia_editor/src/components/vocabulary/Vocab.js`:

![image](https://user-images.githubusercontent.com/96775/139504220-c2232ba0-95ae-41cc-8373-03149f7efa89.png)

which is used by `sinopia_editor/src/components/App.jsx`

![image](https://user-images.githubusercontent.com/96775/139504242-cb1fdca7-8d12-4628-aa65-d718093412fa.png)

[2021-10-29 21:52] ndushay commented on #3266
I started some documentation on a branch:  https://github.com/LD4P/sinopia_editor/blob/editor-component-templates-doc/static/EditorComponentTemplates.md

[2021-10-29 21:57] justinlittman commented on #2889
That sounds right. This was originally written by @jermnelson. It is possible that new terms have been created but not added to `Vocab.js`.

[2021-10-29 21:59] justinlittman commented on #3262
Yes, we can (and will) recommend that that swagger doc be maintained.

[2021-10-29 22:04] michelleif commented on #2889
see #2859 (I think this is relevant)

[2021-10-29 22:06] justinlittman commented on #3262
See https://github.com/LD4P/qa_server/issues/464

[2021-10-29 22:10] ndushay opened #3280 "(for consideration) address smell: fixture data changes affecting so many tests at once"
When doing certain code tweaks, the recommendation for writing test code goes something like:
1. you'll need to make a change to the `uberTemplate` testing fixture to write your test (because you need n things from that template to exercise the conditions necessary for your test)
1. get your test working
1. look at all the tests you made fail by tweaking the uberTemplate ... and fix them.

This ..

[2021-10-29 22:14] justinlittman commented on #3280
We could write smaller templates for testing, but that would defeat the purpose of the Uber-ness of the Uber template. However, for some of the tests the Uber template may not be necessary and a less volatile template could be selected.

Can you list some of the tests that you find break?

[2021-10-29 22:20] #824 closed

[2021-10-29 22:21] ndushay commented on #3280
Sadly, it's been too long -- @peetucket  might be able to identify some brittle tests as he mentioned at standup this morning he was struggling.

We can keep this ticket until someone encounters the fun anew ...

[2021-10-29 22:26] justinlittman commented on #3274
ISBN is only an example. There are other cases as well. And we don't want to have to create a new type for each and write code. Also, any datatype we create is not likely to be recognized by others that consume our data.

"No language" combined with the new regex validation feature will allow template creators to accomplish the desired data entry.

[2021-10-29 22:31] ndushay commented on #2889
@michelleif seems like #2859 is relevant.  I will take the ticket as it jibes with this work.

[2021-10-29 22:47] michelleif commented on #2889
hurrah, thank you!

[2021-10-29 23:05] ndushay commented on #2859
@jermnelson if there is a document explaining how to get these Vocab entries served out at sinopia.io, please point me to it.   If there isn't a document, can you spend 3 min writing the steps as a comment here and I'll turn it into a document?

Thanks.

[2021-10-29 23:29] briesenberg07 commented on #3220
Thanks everyone!

If I'm understanding correctly, the current thinking is simply to allow the creation of a PT with multiple prop IRIs provided--it's quite simple, which seems very nice!
- In [Astrid's example](https://github.com/LD4P/sinopia_editor/issues/3220#issuecomment-950067384) above, we see a PT which \*has been given label **Title Information**, with property IRIs *including* `bf:title`,

[2021-10-29 23:45] ndushay commented on #2859
@michelleif here is what I've got for initial  descriptions.  If you don't like them, I can help you do a pull request to change them, if you don't already know how:

- hasAuthority: "An authority associated with a lookup"
- hasDefault: "Default value(s) specific to a property"
- hasLookupAttributes:  "Attributes for a lookup"
- hasRemarkUrl: "The property's remark as a URL."
- hasResourceAttribut

[2021-10-29 23:56] ndushay commented on #2859
More missing:

- hasUriAttributes: "Attrbutes for a URI"
- hasLiteralAttributes: "Attrbutes for a literal"
- hasUri: "URI"
- PropertyTemplate: (had no description) "Class for a property template"

[2021-10-30 00:52] justinlittman commented on #2859
No need to publish -- it's part of the app: https://github.com/LD4P/sinopia_editor/blob/main/src/components/App.jsx#L195-L207

[2021-10-30 00:54] #3199 closed

[2021-10-30 01:18] vitustang opened #3281 "Add "Required if applicable" as an option for a property in a resource template"
**New feature proposed for Sinopia resource template**:
Currently one can designate a property as "required" in a Sinopia resource template. Conversely, the absence of this designation signifies that the property is "not required" and therefore "optional". This proposal suggests that Sinopia supports a third category: **required if applicable**?

**Rationale**:
Some properties in a resource templa

[2021-10-30 01:20] justinlittman commented on #3040
It is not worth the additional complexity. Thanks for researching.

[2021-10-30 01:27] justinlittman commented on #3271
Encapsulating:
[code]

as:
[code]

seems worth it, if only to reduce clutter.

[2021-10-30 01:31] justinlittman commented on #3281
To be clear: Sinopia would not validate the presence of a field that is "required if applicable", right?

What sort of an icon or visual indicator might suggest "required if applicable"?

[2021-10-30 01:32] #3226 closed

[2021-10-30 08:32] ndushay commented on #2859
What about these?

- http://sinopia.io/vocabulary/propertyAttribute/repeatable
- http://sinopia.io/vocabulary/propertyAttribute/required
- http://sinopia.io/vocabulary/propertyAttribute/ordered
- http://sinopia.io/vocabulary/resourceAttribute/suppressible

[2021-10-30 08:39] ndushay commented on #2859
Does that get it out to, e.g. "https://development.sinopia.io/vocabulary" ?  When the app is deployed?

[2021-10-30 11:49] justinlittman commented on #3271
@jcoyne Do you mind if I take this? I'm doing some other work that this aligns with.

[2021-10-30 16:27] justinlittman commented on #2859
Yes.

[2021-10-30 17:19] NancyL commented on #3281
I am a little worried about templates getting cluttered through too many individual icons meaning different things. And where do we stop? We also have "PCC core" and "PCC recommended" (and recommended if applicable) and additional guidelines beyond that from RDA and forthcoming application profiles. We have decided to put PCC BSR guidelines in remarks in the PCC templates from RDA and forthcoming

[2021-10-30 17:35] justinlittman commented on #3281
Display remarks on the editor form instead of popover?

[2021-11-01 00:21] vitustang commented on #3281
It is understood that Sinopia will not be able to validate "required if applicable" triples as it has no way to know whether the property is applicable for a particular description or not. The proposed feature has two values outside of validation:

- as an aid to catalogers to make clear which fields in the form they have to fill out
- allow identification of properties in a resource template, whi

[2021-11-01 12:05] justinlittman commented on #2890
The datatype and regex can be added to a template by template author. See #3284.

This ticket will require:
* Adding `regex` and `datatype` to subject template when loading template to state in `TemplateBuilder`. (Don't forget to add these new attributes to state documentation in README as well.)
* Adding validation in `resourcesHelpers.js`. See https://github.com/LD4P/sinopia_editor/blob/main/src

[2021-11-01 12:08] justinlittman commented on #2891
Note that if a literal has a datatype, it should not have a language. See https://www.w3.org/TR/rdf11-concepts/#section-Graph-Literal